/*
|---------------------------------------------------------------
| MASTER BODY STYLES
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #000;
	color: #ccc;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER STYLES
|---------------------------------------------------------------
*/
#container {
	width: 750px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD STYLES
|---------------------------------------------------------------
|
| The head layer
*/
#head {
	margin: 0;
	padding: 0;
	height: 70px;
	
	background: #202020 url('../images/gradient-head.png') repeat-x top left;
	color: #fff;
	border: 1px solid #444;
	
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#head .head_content {
	padding: 12px 0 0 10px;
	
	font-weight: bold;
}
#head .head-top {
	height: 5px;
	
	background: #444;
	border-bottom: 1px solid #777;
}

/*
|---------------------------------------------------------------
| MENU STYLES
|---------------------------------------------------------------
*/
#menu {
	float: right;
	margin: -1px 10px 0 0;
	padding: .3em .5em;
	
	background: #444;
	border-bottom: 1px solid #696969;
	border-left: 1px solid #606060;
	border-right: 1px solid #606060;
	
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	
	font-size: 95%;
}
#menu .nav-main {}
#menu .nav-main ul {
	margin: 0 2px;
	padding: 0;
	
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	margin: 0 2px;
	padding: 0;
}
#menu .nav-main ul li a {
	display: block;
	
	text-decoration: none;
	color: #888;
	font-weight: bold;
	border: 0;
}
#menu .nav-main ul li a span { padding: 0 7px; }
#menu .nav-main ul li a:hover { color: #ccc; }
#menu .nav-main ul li a.active {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

/*
|---------------------------------------------------------------
| BODY STYLES
|---------------------------------------------------------------
*/
#body { text-align: left; }

.content {
	line-height: 1.4;
	padding: 1em 2em;
	margin: 1em auto 2em auto;
}

/*
|---------------------------------------------------------------
| FOOTER STYLES
|---------------------------------------------------------------
*/
#footer {
	margin: 0;
	padding: 1.7em 0;
	clear: both;
	
	text-align: center;
	font-size: 90%;
	color: #555;
	background: #080808;
	border: 1px solid #111;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*
|---------------------------------------------------------------
| FONT COLOR CLASSES
|---------------------------------------------------------------
*/
.page-head { color: #f3b907; }

.red { color: #c00; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #1c94c4;
}
a:hover {
	color: #1c94c4;
	border-bottom: 1px solid;
}

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #333;
	color: #888;
	background: #000;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 120%;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #eee;
	border: 1px solid #444;
	background: #080808;
}

select {
	border: 1px solid #333;
	color: #888;
	background: #000;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 120%;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #eee;
	border: 1px solid #444;
	background: #080808;
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	
	font-weight: bold;
	font-size: 105%;
}

button.button-main {
	border: 1px solid #333;
	background: #000 url('../images/gradient-hard-30.png') repeat-x center left;
	color: #ccc;
}
button.button-main:hover {
	border: 1px solid #333;
	background: #111 url('../images/gradient-hard-50.png') repeat-x center left;
	color: #fff;
}

input.button-main {
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #333;
	background: #000 url('../images/gradient-hard-30.png') repeat-x center left;
	color: #ccc;
}
input.button-main:hover {
	border: 1px solid #333;
	background: #111 url('../images/gradient-hard-50.png') repeat-x center left;
	color: #fff;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	border: 1px solid #333;
	background: #000 url('../images/gradient-hard-30.png') repeat-x center left;
	color: #ccc;
}

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ul.none { list-style: none; }
ol.roman { list-style: upper-roman; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.flash-success {
	border: 1px solid #108500;
	background: #108500 url('../images/gradient-soft-30.png') repeat-x center left;
	color: #fff;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	background: #cd0a0a url('../images/gradient-soft-30.png') repeat-x center left;
	color: #fff;
}
.flash-info {
	border: 1px solid #406ceb;
	background: #406ceb url('../images/gradient-soft-30.png') repeat-x center left;
	color: #fff;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #333;
	border-width: 1px 0 0;
}