/*
|---------------------------------------------------------------
| MASTER BODY
|---------------------------------------------------------------
*/
html, body, #wrap { height: 100%; }

body {
	margin: 0;
	padding: 0;
	
	background: #fafafa;
	color: #363636;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER
|---------------------------------------------------------------
| The wrapper controls the width and centering of the layout
*/
.wrapper {
	width: 70%;
	margin: 0 auto;
	
	text-align: left;
}

#body { padding-bottom: 35px; }

body > #wrap {
	height: auto;
	min-height: 100%;
}

/*
|---------------------------------------------------------------
| HEAD
|---------------------------------------------------------------
*/
#header {
	margin: 0;
	padding: 0;
	height: 35px;
	line-height: 35px;
	
	background: #216e9a;
	color: #eee;
	font-weight: bold;
	border-bottom: 1px solid #111;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}
a.login-text {
	padding-bottom: 2px;
	
	color: #fff !important;
	border-bottom: 1px dotted !important;
}
a.login-text:hover { border-bottom: 1px solid !important; }

/*
|---------------------------------------------------------------
| MENU STYLES
|---------------------------------------------------------------
*/
.go {
	float: left;
	margin: 0 25px 0 0;
}
.go-button a {
	padding: 4px 10px 10px 10px;
	
	color: #fff;
	border: 1px solid transparent;
	
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}
.go-button a:hover, .go-button a.active {
	background: #fff;
	background: rgba(255, 255, 255, .9);
	color: #000;
	border: 1px solid #5b7782;
}

.nav-main {
	position: absolute;
	width: 250px;
	z-index: 1000;
	float: left;
	
	background: #fff;
	border-bottom: 1px solid #5b7782;
	border-left: 1px solid #5b7782;
	border-right: 1px solid #5b7782;
	
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.nav-main ul {
	margin: 0;
	padding: 4px 0;
	
	list-style-type: none;
}
.nav-main ul li {
	margin: 0 0 2px 0;
	padding: 0 5px;
}
.nav-main ul li a {
	display: block;
	margin: 0;
	padding: 0;
	
	text-decoration: none;
	color: #3d3c5b;
	font-weight: bold;
	border: 1px solid transparent;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nav-main ul li a span { padding: 12px; }
.nav-main ul li a:hover,
.nav-main ul li a.active {
	background: #d0e5f5 url('../images/gradient-soft.png') repeat-x 0 0;
	color: #1d5987;
	border: 1px solid #79b7e7;
}

/*
|---------------------------------------------------------------
| CONTENT
|---------------------------------------------------------------
*/
#body { position: relative; }

.nav-sub {
	width: 160px;
	margin: 22px 0 10px 0;
	float: right;
	
	font-size: 92%;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2;
	
	text-align: right;
}
.nav-sub ul li a {
	display: block;
	padding: 2px 0 2px 5px;
	
	text-decoration: none;
	color: #2e6e9e;
	border: 1px solid transparent;
	border-left: none;
	font-weight: bold;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nav-sub ul li a:hover {
	color: #1d5987;
	background: #d0e5f5 url('../images/gradient-30-bg.png') repeat-x 0 0;
	border: 1px solid #79b7e7;
}
.nav-sub ul li a span { padding: 2px 7px; }
.nav-sub ul li.spacer {
	height: 12px;
	
	border: none;
}

.content {
	margin-right: 180px;
	line-height: 1.4;
	padding: 8px 8px 20px 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { display: inline-block; }

/*
|---------------------------------------------------------------
| FOOTER
|---------------------------------------------------------------
*/
#footer {
	position: relative;
	margin-top: -35px;
	height: 35px;
	line-height: 35px;
	clear: both;
	
	text-align: center;
	font-size: 90%;
	color: #888;
	background: #f1f8fd;
	border-top: 1px solid #c5dbec;
}

/*
|---------------------------------------------------------------
| FONT COLORS
|---------------------------------------------------------------
*/
.page-head 		{ color: #eb981e; }
.page-subhead	{ color: #479338; }

.gray	{ color: #777; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #026890;
}
a:hover {
	color: #2e6e9e;
	border-bottom: 1px solid;
}

a.edit {
	color: #bbb;
	border: none;
}
a.edit:hover { color: #a3c586; }

.markItUp a { border: 0 !important; }

/*
|---------------------------------------------------------------
| INPUTS
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
}

textarea {
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d8d8d8;
	color: #777;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #444;
	border: 1px solid #777;
}

select {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/
tr.alt td { background-color: #f0f0f0; }
tr.light_gray { background-color: #ddd; }

th {
	text-align: center;
	font-size: 120%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	font-weight: bold;
}

button.button-main {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
}
button.button-main:hover {
	background: #d0e5f5 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #1d5987;
	border: 1px solid #79b7e7;
}

button.button-sec {
	border: 1px solid #ccc;
	background: #fff url('../images/button_sec_bg.jpg') repeat-x top left;
	color: #777;
}
button.button-sec:hover { border: 1px solid #aaa; }

button.button-small {
	border: 1px solid #ccc;
	background: #fff url('../images/button_sec_bg.jpg') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover { border: 1px solid #aaa; }

input.button-main {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	background: #d0e5f5 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #1d5987;
	border: 1px solid #79b7e7;
}

input.button-sec {
	border: 1px solid #ccc;
	background: #f9f9f9 url('../images/button-sec_bg.jpg') repeat-x bottom left;
	font-weight: bold;
	font-size: 120%;
	color: #555;
}
input.button-sec:hover { color: #999; }

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
}

/*
|---------------------------------------------------------------
| COMMENTS AND BOXES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info, .info-full, #notes {
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.border-1 { border: 1px solid #ddd; }

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ol.roman { list-style: upper-roman; }
ul.none, ol.none { list-style: none; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	background: #fef1ec url('../images/gradient-30-bg.png') repeat-x center left;
	color: #cd0a0a;
}
.flash-info {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.system_warning {
	background: orange;
	color: #111;
	font-weight: bold;
	text-align: center;
}

/*
|---------------------------------------------------------------
| PANEL
|---------------------------------------------------------------
*/
.panel-handle a, .panel-handle a:hover {
	text-decoration: none;
	color: #eee;
}
.panel-handle a span {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	font-weight: bold;
}
.panel-handle a:hover { border-bottom: 0; }
.panel-handle a:hover span {
	background: #d0e5f5;
	background: rgba(255, 255, 255, .7);
	color: #1d5987;
	border-bottom: 1px solid #79b7e7;
	border-left: 1px solid #79b7e7;
	border-right: 1px solid #79b7e7;
}

#panel .panel-body {
	background: #216e9a url('../images/panel-bg.png') repeat-x top left;
	color: #fff;
}

.panel-handle {
	text-align: center;
	font-size: 85%;
	background: #216e9a;
}
.panel-trigger span { text-align: center; }

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #ccc;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #eee; }