/*
|---------------------------------------------------------------
| STYLESHEET - DISPLAY
|---------------------------------------------------------------
|
| File: _base/install/css/display.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Stylesheet that controls miscellaneous display items
|
*/

/*
|---------------------------------------------------------------
| jQUERY AIDS
|---------------------------------------------------------------
| Styles that jQuery uses for various elements and effects that
| are used throughout the system
*/
.hidden {
	display: none;
	height: auto;
}

#progress { width: 450px; }

#amount {
	float: left;
	line-height: 1.9em;
	padding: 0 1em;
	
	color: #2694e8;
	font-weight: bold;
	font-size: 120%;
}

#loading { margin: 1em 0; }

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square {
	margin: 1em !important;
	padding: .5em 1.5em !important;
	line-height: 1.6;
	
	list-style: square;
}
ul.none {
	margin: 1em !important;
	padding: .5em 1.5em !important;
	line-height: 1.6;
	
	list-style: none;
}
ol.roman {
	margin: 1em !important;
	padding: .5em 1.5em !important;
	line-height: 1.6;
	
	list-style: upper-roman;
}
ol.decimal {
	margin: 1em !important;
	padding: .5em 1.5em !important;
	line-height: 1.6;
	
	list-style: decimal;
}

#options { width: 375px; }
#options li { margin: 4px 0; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	margin: 0 0 5px 0;
	padding: .3em 0;
	line-height: 1;
	
	font-weight: bold;
	font-size: .9em;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.flash_message p {
	margin: 0;
	padding: 3px 5px;
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	background: #cd0a0a;
	color: #fff;
}
.flash-info {
	border: 1px solid #f9dd34;
	background: #ffef8f;
	color: #363636;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
.icon {
	float: left;
	margin: 4px 5px 0 0;
}

hr {
	height: 0;
	width: 100%;
	
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}