@import url('reset.css');

body {
	background: #666 url('../images/body-bg.jpg') repeat top left;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
}

#header {
	height: 85px;
	width: 700px;
	margin: 0 auto;
	
	background: transparent url('../images/logo.png') no-repeat top left;
}

#container {
	width: 700px;
	margin: 1em auto;
	
	background: #eee;
	color: #333;
	border: 1px solid #555;
	border: 1px solid rgba(0, 0, 0, 0);
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	box-shadow: 2px 2px 9px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, .3);
}

.head {
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 1em;
	
	background: #ddd url('../images/head-bg.png') repeat-x top left;
	border-bottom: 1px solid #bcbcbc;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}
.head h1 {
	font-size: 180%;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	color: #444;
}

.content {
	padding: 1em 2em;
	
		
}
.content a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px solid;
}
.content a:hover { color: #466b8c; }

.lower {
	height: 32px;
	line-height: 32px;
	padding: 0 2em;
	margin: 1em 0 0 0;
	
	text-align: right;
}

.footer {
	padding: .5em 0;
	
	font-size: .85em;
	color: #888;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

/*
|---------------------------------------------------------------
| SIGN IN PANEL
|---------------------------------------------------------------
*/
.more-options { float: right; }
.signin {
	padding: 3px 8px;
	
	background: #b1b1b1;
	background: rgba(0, 0, 0, .2);
	color: #fff;
	font-weight: bold;
	border: 0;
	font-size: 90%;
	text-decoration: none;
}
.signin:hover {
	border: 0;
	color: #fff;
	background: #858585;
	background: rgba(0, 0, 0, .4);
}
.signin-active, .signin-active:hover {
	background: #585858 !important;
	color: #fff;
}

.signin-panel {
	display: none;
	position: absolute;
	right: 12px;
	top: 30px;
	padding: .5em 1em 1em 1em;
	width: 250px;
	line-height: 1.7 !important;
	z-index: 100;
	
	color: #fff;
	background: #585858;
	
	box-shadow: -1px 1px 2px rgba(0, 0, 0, .45);
	-moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .45);
	-webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .45);
}
.signin-panel a {
	border: 0;
	color: #ccc !important;
	text-decoration: none;
}
.signin-panel a:hover { border-bottom: 1px solid; }
.signin-panel ul {
	padding: 0 1em;
	margin: 0 0 5px 0;
}

.corner-upper-left {
	border-radius-topleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
}
.corner-upper-right {
	border-radius-topright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
}
.corner-lower-left {
	border-radius-bottomleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
}
.corner-lower-right {
	border-radius-bottomright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/*
|---------------------------------------------------------------
| TEXT AND FONTS
|---------------------------------------------------------------
*/

h1, h2 { margin: 0 0 10px 0; }
p { margin: 10px 0; }

h2 { font-size: 150%; }
h3 { font-size: 133%; }

.fontMedium { font-size: 110%; }
.fontSmall { font-size: 85%; }

.bold { font-weight: bold; }

.green { color: #008000; }
.red { color: #c00; }
.orange { color: #f7941d; }
.gray { color: #777; }

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/

.hidden { display: none; }

#loading { text-align: center; }

#progress {
	width: 350px;
	margin-bottom: 1em;
	
	-moz-box-shadow: -1px 1px 3px rgba(255, 255, 255, .85);
}

#amount {
	float: left;
	line-height: 1.9em;
	padding: 0 1em;
	
	color: #466b8c;
	font-weight: bold;
	font-size: 120%;
}

.indent-left { padding: 0 0 0 1.5em; }

hr {
	height: 0;
	width: 100%;
	margin: 1.5em auto;
	
	border-top: 1px solid #bcbcbc;
	border-top: 1px solid rgba(0, 0, 0, .15);
	border-bottom: 1px solid #fff;
	border-left: 0;
	border-right: 0;
}

/*
|---------------------------------------------------------------
| LISTS
|---------------------------------------------------------------
*/

ul.padding1 { padding: .5em 1em; }

ul.square {
	margin: 1em;
	padding: 0 1em;
	
	list-style: square;
}

ol {
	margin: 1em;
	padding: 0 1.5em;
	
	list-style: decimal;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/

table {
	width: 100%;
	position: relative;
	
	font-size: 100%;
}
tr { height: 30px; }
th {
	padding: 4px;
	
	vertical-align: middle;
	text-shadow
}
td {
	padding: 4px;
	
	vertical-align: middle;
}

.alt { background-color: #e5e5e5; }

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	margin: 0;
	padding: 3px;
	width: 275px;
	
	border: 1px solid #d8d8d8;
	background: #fbfbfb;
	color: #888;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 1.1em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #aaa;
	background: #fdfdfd;
}
input.small		{ width: 50px; }
input.medium	{ width: 100px; }

textarea {
	margin: 0;
	padding: 3px;
	width: 500px;
	
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d8d8d8;
	color: #777;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #444;
	border: 1px solid #777;
}

select {
	margin: 0;
	padding: 2px;
	
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 1.1em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
}

.cell-label {
	width: 130px;
	
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}
.cell-spacer { width: 20px; }

kbd {
	display: block;
	margin: 0 0 5px 0;
	
	font-size: 115%;
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
}

/*
|---------------------------------------------------------------
| INSTALL OPTIONS PAGE
|---------------------------------------------------------------
*/

.install-options {
	margin: 1em 0;
	padding: .5em;
	display: block;
	
	color: #888;
	text-decoration: none;
	border: 1px solid transparent !important;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.install-options span {
	padding: 0 0 0 20px;
	
	background: transparent url('../images/arrow-000-medium.png') no-repeat center left;
	font-size: 1.65em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.install-options em {
	margin: 0 0 0 21px;
	display: block;
	
	font-size: .9em;
	font-style: normal;
}
.install-options:hover {
	color: #466b8c;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url('../images/install-options-bg.png') repeat-x top left;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/

a.btn, button, input[type=submit] {
	display: block;
	float: right;
	padding: 0 40px 2px 40px;
	height: 28px;
	line-height: 28px;
	
	border: 1px solid #666;
	border-top: 1px solid rgba(255, 255, 255, .4);
	text-decoration: none;
	font-size: 90%;
	font-weight: bold;
	background: #777 url('../images/install-btn-bg.png') repeat-x top left;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .2);
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow: 0px -1px 0px #666;
	-moz-box-shadow: 0px -1px 0px #666;
	-webkit-box-shadow: 0px -1px 0px #666;
}
a.btn:hover, button:hover, input[type=submit]:hover {
	background: #63a62f url('../images/install-btn-bg.png') repeat-x top left;
	border: 1px solid #4e8623;
	border-top: 1px solid rgba(255, 255, 255, .5);
	
	box-shadow: 0px -1px 0px #4e8623;
	-moz-box-shadow: 0px -1px 0px #4e8623;
	-webkit-box-shadow: 0px -1px 0px #4e8623;
}

button, input[type=submit] {
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	padding: 0 40px 3px 40px;
}
input[type=submit] { line-height: 24px; }

button[disabled], button:hover[disabled],
input[disabled], input:hover[disabled] {
	background: #ddd url('../images/install-btn-bg.png') repeat-x top left;
	border: 1px solid #ccc;
	border-top: 1px solid rgba(255, 255, 255, .5);
	color: #aaa;
	text-shadow: 0px -1px 0px rgba(255, 255, 255, .2);
	
	box-shadow: 0px -1px 0px #ccc;
	-moz-box-shadow: 0px -1px 0px #ccc;
	-webkit-box-shadow: 0px -1px 0px #ccc;
}

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	margin: 1em 0;
	padding: .3em 0;
	line-height: 1.3;
	
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.flash_message p {
	margin: 0;
	padding: 3px 5px;
}
.flash-success {
	border: 1px solid #a4c897;
	border-top: 1px solid rgba(255, 255, 255, .7);
	background: #ccecc5 url('../images/install-btn-bg.png') repeat-x top left;
	color: #376b0e;
	
	box-shadow: 0px -1px 0px #a4c897;
	-moz-box-shadow: 0px -1px 0px #a4c897;
	-webkit-box-shadow: 0px -1px 0px #a4c897;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	border-top: 1px solid rgba(255, 255, 255, .6);
	background: #ef2d2d url('../images/install-btn-bg.png') repeat-x top left;
	color: #fff;
	
	box-shadow: 0px -1px 0px #cd0a0a;
	-moz-box-shadow: 0px -1px 0px #cd0a0a;
	-webkit-box-shadow: 0px -1px 0px #cd0a0a;
}
.flash-info {
	border: 1px solid #f9dd34;
	border-top: 1px solid rgba(255, 255, 255, .6);
	background: #ffef8f url('../images/install-btn-bg.png') repeat-x top left;
	color: #363636;
	
	box-shadow: 0px -1px 0px #f9dd34;
	-moz-box-shadow: 0px -1px 0px #f9dd34;
	-webkit-box-shadow: 0px -1px 0px #f9dd34;
}