/*
|---------------------------------------------------------------
| STYLESHEET - MAIN
|---------------------------------------------------------------
|
| File: default/main/css/main.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Main stylesheet used by the default/main theme
|
*/

/*
|---------------------------------------------------------------
| STYLESHEET INCLUDES
|---------------------------------------------------------------
| Pulls in the other stylesheets used by the theme
|
| reset		=> reset stylesheet
| display   => misc display elements (comments, OL/UL, etc.)
| forms     => forms, buttons, and tables
| text      => fonts and links
| ui.tabs   => tabbed interfaces
| panel		=> user panel
*/
@import url('reset.css');
@import url('display.css');
@import url('forms.css');
@import url('text.css');
@import url('ui.tabs.css');
@import url('panel.css');

/*
|---------------------------------------------------------------
| MASTER BODY STYLES
|---------------------------------------------------------------
| Master font size, family, and color are controlled from here
*/
body {
	margin: 0;
	padding: 0;
	
	/*background: #fcfdfd;*/
	background: #678fc2;
	color: #363636;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER STYLES
|---------------------------------------------------------------
| The wrapper controls the width and centering of the layout
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD STYLES
|---------------------------------------------------------------
*/
#head {
	margin: 0;
	padding: 0;
	height: auto;
}
#head .head_content {
	margin: 20px 0 0 0;
	padding: 7px 0 0 30px;
	
	font-weight: bold;
	border: 1px solid #c5dbec;
	border-bottom: none;
	background: #d0e5f5;
	
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 5px;
}

/*
|---------------------------------------------------------------
| MENU STYLES
|---------------------------------------------------------------
*/
#menu {
	height: 30px;
	line-height: 30px;
	
	background: #dfeffc url('../images/gradient-50-bg.png') repeat-x 0 0;
	border: 1px solid #c5dbec;
	font-size: 95%;
}
#menu .nav-main {}
#menu .nav-main ul {
	margin: 0 5px;
	padding: 0;
	
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	margin: 0 2px;
	padding: 0;
}
#menu .nav-main ul li a {
	display: block;
	
	text-decoration: none;
	color: #2e6e9e;
	font-weight: bold;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: none;
}
#menu .nav-main ul li a span { padding: 12px; }
#menu .nav-main ul li a:hover,
#menu .nav-main ul li a.active {
	background: #d0e5f5 url('../images/gradient-50-bg.png') repeat-x 0 0;
	border-left: 1px solid #79b7e7;
	border-right: 1px solid #79b7e7;
	color: #1d5987;
}

/*
|---------------------------------------------------------------
| BODY STYLES
|---------------------------------------------------------------
| The body layer contains the sub-nav and content layers
|
| .nav-sub => sub navigation
| .content => main page content
*/
#body {}
#body .wrapper {
	min-height: 320px;
	
	background: #fcfdfd;
}

.nav-sub {
	width: 160px;
	margin: 22px 0 10px 0;
	float: left;
	
	background: #fcfdfd;
	font-size: 92%;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2;
}
.nav-sub ul li a {
	display: block;
	padding: 2px 0 2px 5px;
	
	text-decoration: none;
	color: #2e6e9e;
	border: 1px solid transparent;
	border-left: none;
	font-weight: bold;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.nav-sub ul li a:hover {
	color: #1d5987;
	background: #d0e5f5 url('../images/gradient-50-bg.png') repeat-x 0 0;
	border: 1px solid #79b7e7;
	border-left: none;
}
.nav-sub ul li a span { padding: 2px 7px; }
.nav-sub ul li.spacer { border: none; }

.content {
	margin-left: 180px;
	line-height: 1.4;
	padding: 8px 8px 0 0;
}

/*
|---------------------------------------------------------------
| FOOTER STYLES
|---------------------------------------------------------------
*/
#footer {
	padding: 1em 0;
	clear: both;
	line-height: 1.4;
	
	text-align: center;
	font-size: 90%;
	color: #79b7e7;
	background: #f1f8fd;
	border: 1px solid #c5dbec;
	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}