/*
|---------------------------------------------------------------
| STYLESHEET - FORMS
|---------------------------------------------------------------
|
| File: _base/install/css/forms.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Stylesheet that controls the way forms look and behave as well
| as tables
|
*/

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	margin: 0;
	padding: 3px;
	width: 275px;
	
	border: 1px solid #d8d8d8;
	background: #fbfbfb;
	color: #888;
	font-family: inherit;
	font-size: 1em;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #aaa;
	background: #fdfdfd;
}
input.small		{ width: 50px; }
input.medium	{ width: 100px; }

textarea {
	margin: 0;
	padding: 3px;
	width: 500px;
	
	font-size: 100%;
	font-family: inherit;
	border: 1px solid #d8d8d8;
	color: #777;
}
textarea:focus {
	color: #444;
	border: 1px solid #777;
}

select {
	margin: 0;
	padding: 2px;
	
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: inherit;
	font-size: 100%;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
}

.cell_label {
	width: 130px;
	
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}
.cell_spacer { width: 20px; }

/*
|---------------------------------------------------------------
| TABLE STYLES
|---------------------------------------------------------------
*/
table { font-size: 100%; }

table.verify { border: 1px solid #aaa; }
table.verify th {
	font-weight: bold;
	font-size: 125%;
	background-color: #666;
	color: #fff;
	padding: 4px;
}
table.verify td {
	padding: 6px;
	vertical-align: middle;
	width: 25%;
	
	font-size: 115%;
}

.table100	{ width: 100%; }
.table75	{ width: 75%; }

td {
	padding: 3px;
	vertical-align: middle;
}

tr.alt td { background-color: #eee; }

td.col_15 { width: 15px; }
td.col_30 { width: 30px; }

td.align_top { vertical-align: top; }
td.align_bottom { vertical-align: bottom; }
td.align_middle { vertical-align: middle; }
td.align_left { text-align: left; }
td.align_right { text-align: right; }
td.align_center { text-align: center; }

.cell-label {
    width: 130px;
    
    font-weight: bold;
    font-size: 100%;
    text-align: right;
}
.cell-spacer { width: 20px; }

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/

button.button {
	height: 28px;
	padding: 0 10px 1px 10px;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	border: 1px solid #ccc;
	background: #f9f9f9 url('../images/button_bg.jpg') repeat-x bottom left;
	font-weight: bold;
	color: #555;
	outline: 0;
}
button.button:hover { border: 1px solid #999; }

input.button {
	height: 25px;
	padding: 0 10px;
	
	border: 1px solid #ccc;
	background: #f9f9f9 url('../images/button_bg.jpg') repeat-x bottom left;
	font-weight: bold;
	font-size: 120%;
	color: #555;
}
input.button:hover { border: 1px solid #999; }

/*
|---------------------------------------------------------------
| DISABLED CONTENT
|---------------------------------------------------------------
*/

input[disabled],
button[disabled] { color: #aaa; }

input[disabled]:hover,
button[disabled]:hover { border: 1px solid #ccc; }