application/config/database.php

application/assets/images/awards/
application/assets/images/characters/
application/assets/images/missions/
application/assets/images/specs/
application/assets/images/tour/
!application/assets/images/awards/index.html
!application/assets/images/characters/index.html
!application/assets/images/missions/index.html
!application/assets/images/specs/index.html
!application/assets/images/tour/index.html

application/cache/
!application/cache/index.html

application/logs/
!application/logs/index.html

*~
*.bak
Thumbs.db
.DS_Store

application/views/apollo/
application/views/quixly/
application/views/rocket/
application/views/lcars/
