# Nova

application/assets/images/awards/
application/assets/images/characters/
application/assets/images/missions/
application/assets/images/specs/
application/assets/images/tour/
application/cache/
application/logs/
application/views/

application/config/database.php

!application/views/default/*
!application/views/titan/*
!application/views/_base_override/*

application/assets/common/ds9/

nova/app/

# General
*~
*.bak

# Windows-specific ignores
Thumbs.db
Desktop.ini

# Mac-specific ignores
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes
*.tmproj
*.tmproject
tmtags
