html, body {
	background: #eee;
	background: #d0863b;
}

.nav-sub {
	padding: 10px 0;
}

.container .content {
	background-color: #f0f0f0;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

section {
	margin: 0 0 0 -20px;
	border-left: 1px solid #e1e0e5;
}
.page-header {
	padding: 10px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eaeaea;
	border-radius: 0 3px 0 0;
}
.page-controls {
	padding: 10px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eaeaea;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
}
.page-content {
	padding: 10px;
	background-color: #fff;
	border-radius: 0 0 3px 0;
}
