/*
|---------------------------------------------------------------
| MASTER BODY
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #326597 url('../images/body-bg.png') no-repeat top left;
	color: #fff;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER
|---------------------------------------------------------------
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| MENUS
|---------------------------------------------------------------
*/
.upper-strip {
	height: 2px;
	
	background-color: #2b5680;
}

#menu {
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	
	background: #f6f6f6 url('../images/menu-bg.png') repeat-x top left;
	font-size: 100%;
}

#menu .name {
	float: left;
	padding: 0 0 0 10px;
	line-height: 34px;
	
	color: #aaa;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 125%;
}
#menu .controls {
	float: right;
	padding: 0 10px 0 0;
	line-height: 34px;
	
	color: #aaa;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 125%;
}
#menu .controls a { border: 0; }

#menu .nav-main {
	height: 34px;
	
	font-size: 85%;
	text-transform: uppercase;
	border-left: 1px solid #d9d9d9;
}
#menu .nav-main ul {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	padding: 0;
	width: 137px;
}
#menu .nav-main ul li a {
	display: block;
	
	text-decoration: none;
	color: #999;
	font-weight: bold;
	border-right: 1px solid #d9d9d9;
}
#menu .nav-main ul li a span { padding: 12px; }
#menu .nav-main ul li a:hover,
#menu .nav-main ul li a.active {
	background: #e9e9e9 url('../images/menu-bg.png') repeat-x top left;
	color: #555;
}

/*
|---------------------------------------------------------------
| CONTENT
|---------------------------------------------------------------
*/
#body {
	position: relative;
	padding: 2em 0;
	
	background: transparent url('../images/content-bg.png') repeat-x top left;
}

.nav-sub {
	float: right;
	width: 180px;
	margin: 0 0 10px 0;
	
	text-align: right;
	font-size: 92%;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2.1;
}
.nav-sub ul li a {
	display: block;
	
	text-decoration: none;
	color: rgba(255, 255, 255, .55) !important;
	color: rgb(163, 186, 192);
	font-weight: bold;
	border-bottom: 0;
}
.nav-sub ul li a span { padding: 2px 7px; }
.nav-sub ul li a:hover {
	color: rgba(255, 255, 255, .9) !important;
	color: rgb(255, 255, 255);
	border: 0;
}
.nav-sub ul li.spacer {
	height: 12px;
	
	border: 0;
}

.content {
	width: 750px;
	margin-right: 180px;
	line-height: 1.4;
}

/*
|---------------------------------------------------------------
| FOOTER
|---------------------------------------------------------------
*/
#footer {
	padding: 1.5em 0;
	clear: both;
	line-height: 1.4;
	width: 960px;
	margin: 2em auto;
	
	text-align: center;
	font-size: 90%;
	color: #ccc;
}

/*
|---------------------------------------------------------------
| FONT COLORS
|---------------------------------------------------------------
*/
.page-head {
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .35);
}
.page-subhead {
	background: #333f4c;
	background: rgba(51, 51, 51, .75);
	color: #fff;
	font-variant: small-caps;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow: -1px 1px 3px rgba(255, 255, 255, .2);
	-moz-box-shadow: -1px 1px 3px rgba(255, 255, 255, .2);
	-webkit-box-shadow: -1px 1px 3px rgba(255, 255, 255, .2);
}

p { text-shadow: 0px 1px 0px rgba(0, 0, 0, .25); }

.gray	{ color: #ddd; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #c6d4e2;
	border-bottom: 1px solid;
}
a:hover {
	border-bottom: 1px solid transparent;
	color: #fff;
}

a.edit {
	color: #ddd;
	border: none;
}
a.edit:hover { color: #fff; }

/*
|---------------------------------------------------------------
| INPUTS
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	border: 1px solid rgba(255, 255, 255, .25);
	color: #eee;
	font-family: "lucida grande", verdana, arial, sans-serif;
	background: transparent;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #fff;
	border: 1px solid #777;
	border: 1px solid rgba(255, 255, 255, .5);
}

textarea {
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d8d8d8;
	border: 1px solid rgba(255, 255, 255, .25);
	color: #eee;
	background: transparent;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #fff;
	border: 1px solid #777;
	border: 1px solid rgba(255, 255, 255, .5);
}

select {
	border: 1px solid #d8d8d8;
	border: 1px solid rgba(255, 255, 255, .25);
	color: #555;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #fff;
	border: 1px solid #777;
	border: 1px solid rgba(255, 255, 255, .5);
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/
tr.alt td, .alt {
	background: #4674a1;
	background: rgba(255, 255, 255, .07);
}

th {
	text-align: center;
	font-size: 120%;
}

td { text-shadow: 0px 1px 0px rgba(0, 0, 0, .25); }

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

button.button-main {
	border: 0;
	background: #eee url('../images/gradient-soft-30.png') repeat-x top left;
	color: #777;
	font-size: 90%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
	
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}
button.button-main:hover {
	background: #ccc url('../images/gradient-soft-50.png') repeat-x top left;
	color: #555;
}

button.button-sec {
	border: 1px solid #325271;
	border: 1px solid rgba(0, 0, 0, .3);
	background-color: #4d7aa5;
	background-color: rgba(255, 255, 255, .1);
	background-image: url('../images/gradient-soft-30.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	color: #ddd;
	font-size: 85%;
}
button.button-sec:hover {
	border: 1px solid #2b4661;
	border: 1px solid rgba(0, 0, 0, .4);
	background-color: #6a90b4;
	background-color: rgba(255, 255, 255, .25);
	background-image: url('../images/gradient-soft-30.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	color: #fff;
}

button.button-small {
	border: 1px solid #ccc;
	background: #fff url('../images/button-bg.png') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover { border: 1px solid #aaa; }

input.button-main {
	border: 0;
	background: #eee url('../images/gradient-soft-30.png') repeat-x top left;
	color: #777;
	font-size: 90%;
	font-weight: bold;
}
input.button-main:hover {
	background: #ccc url('../images/gradient-soft-50.png') repeat-x top left;
	color: #555;
}

input.button-sec {
	border: 1px solid #325271;
	background-color: #4d7aa5;
	background-image: url('../images/gradient-soft-30.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	color: #ddd;
	font-size: 85%;
	font-weight: bold;
}
input.button-sec:hover {
	border: 1px solid #2b4661;
	background-color: #6a90b4;
	background-image: url('../images/gradient-soft-30.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	color: #fff;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	border: 0;
	background: #eee url('../images/gradient-soft-30.png') repeat-x top left;
	color: #777;
	font-size: 90%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
	
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}

/*
|---------------------------------------------------------------
| COMMENTS & NOTES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ol.roman { list-style: upper-roman; }
ul.none, ol.none { list-style: none; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}
.flash_message p { text-shadow: none; }
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/flash-bg.png') repeat-x top left;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #c89797; 
	background: #ecc5c5 url('../images/flash-bg.png') repeat-x top left;
	color: #6b0f0e;
}
.flash-info {
	border: 1px solid #fed22f;
	background: #fff0a5 url('../images/gradient-soft-30.png') repeat-x top left;
	color: #363636;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .22);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.loader { text-align: center; }

.system_warning {
	height: 20px;
	line-height: 19px;
	width: 100%;
	
	background: transparent url('../images/js-disabled.png') repeat-x 0 0;
	color: #111;
	font-weight: bold;
	text-align: center;
}

/*
|---------------------------------------------------------------
| PANEL
|---------------------------------------------------------------
*/
#panel .panel-body {
	background: #2b5680;
	color: #fff;
}

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.panel_1 a:hover, .panel_2 a:hover, .panel_3 a:hover {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #c6d4e2;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover {
	color: #fff;
	border-bottom: 1px solid;
}