/*
|---------------------------------------------------------------
| MASTER BODY
|---------------------------------------------------------------
*/
body {
	background: #e7eee4;
	color: #444;
	font: 75%/1.6 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER
|---------------------------------------------------------------
*/
.wrapper {
	min-width: 950px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 45px;
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD
|---------------------------------------------------------------
*/
header {
	margin: 0;
	padding: 0;
	height: 150px;
	border-bottom: 1px solid #a8b3a3;
	background: #d2e0cc;
}
header .wrapper {
	background: #d2e0cc url(../images/upper-body-bg.png) no-repeat 45px 0;
}

/*
|---------------------------------------------------------------
| CONTENT
|---------------------------------------------------------------
*/
#body {
	position: relative;
	margin: 0 0 1em 0;
	background: #f0f0f0;
	border: 1px solid #a2b89b;
	border-top: none;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.content {
	margin-right: 200px;
	line-height: 1.4;
	padding: 1em 15px 1em 1em;
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	-moz-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

/*
|---------------------------------------------------------------
| MAIN NAVIGATION
|---------------------------------------------------------------
*/
#menu {
	height: 38px;
	line-height: 36px;
	margin-top: 24px;
	font-size: 1.4em;
}
#menu .nav-main {
	height: 38px;
}
#menu .nav-main ul {
	margin: 0;
	padding: 0;
	width: auto;
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	margin: 0 5px 0 0;
}
#menu .nav-main ul li a {
	display: block;
	padding: 0 30px 2px 30px;
	text-decoration: none;
	color: #83987c;
	font-weight: bold;
	font-variant: small-caps;
	border: 1px solid transparent;
	border-bottom: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .35);
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#menu .nav-main ul li a:hover {
	border-color: #738f68;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .45);
	background: #a4c199;
	background: -moz-linear-gradient(top, #a4c199 0%, #96b789 50%, #90b382 51%, #8fb381 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4c199), color-stop(50%,#96b789), color-stop(51%,#90b382), color-stop(100%,#8fb381));
	background: -webkit-linear-gradient(top, #a4c199 0%,#96b789 50%,#90b382 51%,#8fb381 100%);
	background: -o-linear-gradient(top, #a4c199 0%,#96b789 50%,#90b382 51%,#8fb381 100%);
	background: -ms-linear-gradient(top, #a4c199 0%,#96b789 50%,#90b382 51%,#8fb381 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4c199', endColorstr='#8fb381',GradientType=0 );
	background: linear-gradient(top, #a4c199 0%,#96b789 50%,#90b382 51%,#8fb381 100%);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
}
#menu .nav-main ul li a.active {
	border-color: #a2b89b;
	color: #647160;
	text-shadow: 0 0 0 transparent;
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#fcfcfc));
	background: -webkit-linear-gradient(top, #efefef 0%,#fcfcfc 100%);
	background: -o-linear-gradient(top, #efefef 0%,#fcfcfc 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#fcfcfc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fcfcfc',GradientType=0 );
	background: linear-gradient(top, #efefef 0%,#fcfcfc 100%);
}

/*
|---------------------------------------------------------------
| SUB NAVIGATION
|---------------------------------------------------------------
*/
.nav-sub {
	float: right;
	width: 200px;
	margin: 0 0 10px 0;
	text-align: right;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2.2;
}
.nav-sub ul li a {
	display: block;
	padding: 0 5px 0 0;
	text-decoration: none;
	color: #666;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}
.nav-sub ul li a:hover {
	color: #444;
	background: #f6f6f6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.nav-sub ul li a span {
	padding: 2px 7px;
}
.nav-sub ul li.spacer {
	height: 12px;
	border: none;
}
.nav-sub ul li:first-child a {
	border-top: 0;
}

/*
|---------------------------------------------------------------
| SIGN IN PANEL
|---------------------------------------------------------------
*/
.signin-container {
	position: relative;
	height: 88px;
}
.signin {
	position: relative;
	float: right;
	margin: 8px 10px 0 10px;
	padding: 3px 8px;
	background: #a8b3a3;
	background: rgba(0, 0, 0, .2);
	color: #fff;
	font-weight: bold;
	border: none;
	font-size: .9em;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.signin:hover {
	border: none;
	color: #fff;
	background: #7e867a;
	background: rgba(0, 0, 0, .4);
}
.signin-active, .signin-active:hover {
	background: #7e867a !important;
	color: #fff;
}

.signin-panel {
	float: right;
	padding: .5em;
	color: #7e867a;
	font-size: .9em;
}
.signin-panel input[type=text],
.signin-panel input[type=password] {
	width: 150px;
	padding: 5px 3px !important;
	font-size: 1.1em;
	background: #e7eee4 !important;
	border: 1px solid #a8b3a3 !important;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.signin-panel input[type=text]:focus,
.signin-panel input[type=password]:focus {
	background: #f4f4f4 !important;
	border-color: #7e867a !important;
}
.signin-panel a {
	border: 0;
	color: #7e867a !important;
}
.signin-panel a:hover {
	border-bottom: 1px solid;
}

/*
|---------------------------------------------------------------
| FOOTER
|---------------------------------------------------------------
*/
footer {
	clear: both;
	line-height: 1.4;
	padding: .8em 0;
	text-align: center;
	font-size: .9em;
	color: #888;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

/*
|---------------------------------------------------------------
| FONT COLORS
|---------------------------------------------------------------
*/
.page-head 		{ color: #647160; }
.page-subhead	{ color: #587498; }

.gray	{ color: #777; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #777;
	border-bottom: 1px solid;
}
a:hover {
	color: #555;
	border-bottom: 0;
}

a.edit {
	color: #bbb;
	border: none;
}
a.edit:hover {
	color: #a3c586;
}

.markItUp a { border: 0 !important; }

/*
|---------------------------------------------------------------
| INPUTS
|---------------------------------------------------------------
*/
input[type=text],
input[type=password],
textarea,
select {
	border: 1px solid #d5d5d5;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 1.2em;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

textarea {
	font-size: 1em;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:hover,
select:focus {
	color: #444;
	border: 1px solid #bbb;
}

kbd {
	font-size: 115%;
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/
tr.alt td, tr.light_gray { background-color: #f3f3f3; }

th {
	text-align: center;
	font-size: 1.2em;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	color: #888;
	border: 1px solid #d0d0d0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .55);
	font-size: 1em;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
	background: linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

button.button-main:hover,
button.button-signin:hover {
	border-color: #76896e;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background: #a7b4a2;
	background: -moz-linear-gradient(top, #a7b4a2 0%, #879880 50%, #778b70 51%, #778b70 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7b4a2), color-stop(50%,#879880), color-stop(51%,#778b70), color-stop(100%,#778b70));
	background: -webkit-linear-gradient(top, #a7b4a2 0%,#879880 50%,#778b70 51%,#778b70 100%);
	background: -o-linear-gradient(top, #a7b4a2 0%,#879880 50%,#778b70 51%,#778b70 100%);
	background: -ms-linear-gradient(top, #a7b4a2 0%,#879880 50%,#778b70 51%,#778b70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7b4a2', endColorstr='#778b70',GradientType=0 );
	background: linear-gradient(top, #a7b4a2 0%,#879880 50%,#778b70 51%,#778b70 100%);
}

button.button-sec {
	font-weight: normal;
}
button.button-sec:hover {
	border-color: #fbcb09;
	color: #c77405;
	background: #fefae5;
	background: -moz-linear-gradient(top, #fefae5 0%, #fdf5d0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefae5), color-stop(100%,#fdf5d0));
	background: -webkit-linear-gradient(top, #fefae5 0%,#fdf5d0 100%);
	background: -o-linear-gradient(top, #fefae5 0%,#fdf5d0 100%);
	background: -ms-linear-gradient(top, #fefae5 0%,#fdf5d0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefae5', endColorstr='#fdf5d0',GradientType=0 );
	background: linear-gradient(top, #fefae5 0%,#fdf5d0 100%);
}

button.button-signin {
	border-color: #a8b3a3;
}

button.button-small {
	border: 1px solid #ccc;
	background: #eee url('../images/gradient-soft-30.png') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover {
	border: 1px solid #bbb;
	background: #eee url('../images/gradient-soft-50.png') repeat-x top left;
	color: #555;
}

input.button-main {
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	border: 1px solid #76896e;
	background: #4a6440 url('../images/menu-bg-active.png') repeat-x center left;
	color: #fff;
}

input.button-sec {
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	font-size: 100%;
	font-weight: normal;
}
input.button-sec:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/gradient-soft-50.png') repeat-x center left;
	color: #c77405;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .65;
	filter:alpha(opacity='70');
	
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #c0c0c0;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .55);
	font-size: 100%;
}

/*
|---------------------------------------------------------------
| COMMENTS AND BOXES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info, .info-full, #notes {
    background-color: #f7f7f7;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

.border-1 { border: 1px solid #ddd; }

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ol.roman { list-style: upper-roman; }
ul.none, ol.none { list-style: none; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: 1em;
	border: 1px solid;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
}
.flash-success {
	border-color: #4e984e;
	color: #fff;
	background: #62c462;
	background: -moz-linear-gradient(top, #62c462 0%, #57a957 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c462), color-stop(100%,#57a957));
	background: -webkit-linear-gradient(top, #62c462 0%,#57a957 100%);
	background: -o-linear-gradient(top, #62c462 0%,#57a957 100%);
	background: -ms-linear-gradient(top, #62c462 0%,#57a957 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c462', endColorstr='#57a957',GradientType=0 );
	background: linear-gradient(top, #62c462 0%,#57a957 100%);
}
.flash-error {
	border-color: #b03630;
	color: #fff;
	background: #ee5f5b;
	background: -moz-linear-gradient(top, #ee5f5b 0%, #c43c35 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee5f5b), color-stop(100%,#c43c35));
	background: -webkit-linear-gradient(top, #ee5f5b 0%,#c43c35 100%);
	background: -o-linear-gradient(top, #ee5f5b 0%,#c43c35 100%);
	background: -ms-linear-gradient(top, #ee5f5b 0%,#c43c35 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee5f5b', endColorstr='#c43c35',GradientType=0 );
	background: linear-gradient(top, #ee5f5b 0%,#c43c35 100%);
}
.flash-info {
	border-color: #2e8ba6;
	color: #fff;
	background: #5bc0de;
	background: -moz-linear-gradient(top, #5bc0de 0%, #339bb9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5bc0de), color-stop(100%,#339bb9));
	background: -webkit-linear-gradient(top, #5bc0de 0%,#339bb9 100%);
	background: -o-linear-gradient(top, #5bc0de 0%,#339bb9 100%);
	background: -ms-linear-gradient(top, #5bc0de 0%,#339bb9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc0de', endColorstr='#339bb9',GradientType=0 );
	background: linear-gradient(top, #5bc0de 0%,#339bb9 100%);
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.system_warning {
	height: 20px;
	line-height: 19px;
	width: 100%;
	
	background: transparent url('../images/js-disabled.png') repeat-x 0 0;
	color: #111;
	font-weight: bold;
	text-align: center;
}

.logged-in-controls a { border: 0; }

strong { font-weight: bold; }
em { font-style: italic; }

/*
|---------------------------------------------------------------
| DASHBOARD
|---------------------------------------------------------------
*/
#panel .panel-body {
	background: #777777;
	background: -moz-linear-gradient(top, #777777 0%, #555555 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#555555));
	background: -webkit-linear-gradient(top, #777777 0%,#555555 100%);
	background: -o-linear-gradient(top, #777777 0%,#555555 100%);
	background: -ms-linear-gradient(top, #777777 0%,#555555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#555555',GradientType=0 );
	background: linear-gradient(top, #777777 0%,#555555 100%);
	border: 1px solid #333;
	color: #fff;
	text-align: left;
	-moz-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}
.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }