/*
|---------------------------------------------------------------
| MASTER BODY
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #e7eee4;
	color: #444;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER
|---------------------------------------------------------------
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD
|---------------------------------------------------------------
*/
#head {
	margin: 0;
	padding: 0;
	height: 150px;
	
	background: #d2e0cc;
	border-bottom: 1px solid #a8b3a3;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/*
|---------------------------------------------------------------
| CONTENT
|---------------------------------------------------------------
*/
#body {
	position: relative;
	margin: -105px 0 1em 0;
	
	background: #f0f0f0;
	border: 1px solid #a2b89b;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#upper-body {
	position: relative;
	height: 130px;
	
	background: #7ba66b url('../images/upper-body-bg.png') no-repeat 0 0;
	
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

.content {
	width: 750px;
	margin-right: 180px;
	line-height: 1.4;
	padding: 1em 15px 1.5em 1em;
	
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	
	border-radius: 0 0 6px 0;
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-bottom-right-radius: 6px;
}

/*
|---------------------------------------------------------------
| MAIN NAVIGATION
|---------------------------------------------------------------
*/
#menu {
	height: 32px;
	line-height: 32px;
	margin-top: 67px;
	
	border-bottom: 1px solid #647160;
	font-size: 110%;
}
#menu .nav-main { height: 32px; }
#menu .nav-main ul {
	margin: 0 0 0 5px;
	padding: 0;
	width: auto;
	
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	margin: 0 2px 0 0;
}
#menu .nav-main ul li a {
	display: block;
	padding: 0 25px;
	
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border: 1px solid transparent;
	border-bottom: 0;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .25);
	
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}
#menu .nav-main ul li a span {}
#menu .nav-main ul li a:hover {
	background: transparent url('../images/menu-bg-hover.png') repeat-x bottom left;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
}
#menu .nav-main ul li a.active {
	background: transparent url('../images/menu-bg-active.png') repeat-x bottom left;
	border: 1px solid rgba(0, 0, 0, .3);
	border-bottom: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
}

/*
|---------------------------------------------------------------
| SUB NAVIGATION
|---------------------------------------------------------------
*/
.nav-sub {
	float: right;
	width: 180px;
	margin: 0 0 10px 0;
	
	text-align: right;
	font-size: 92%;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2.2;
}
.nav-sub ul li a {
	display: block;
	padding: 0 5px 0 0;
	
	text-decoration: none;
	color: #666;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}
.nav-sub ul li a:hover {
	color: #444;
	background: #f6f6f6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.nav-sub ul li a span { padding: 2px 7px; }
.nav-sub ul li.spacer {
	height: 12px;
	
	border: none;
}
.nav-sub ul li:first-child a { border-top: 0; }

/*
|---------------------------------------------------------------
| SIGN IN PANEL
|---------------------------------------------------------------
*/
.signin-container {
	position: relative;
	height: 30px;
}
.signin {
	position: relative;
	float: right;
	margin: 8px 10px 0 10px;
	padding: 3px 8px;
	
	background: #628455;
	background: rgba(0, 0, 0, .2);
	color: #fff;
	font-weight: bold;
	border: 0;
	font-size: 90%;
}
.signin:hover {
	border: 0;
	color: #fff;
	background: #4a6440;
	background: rgba(0, 0, 0, .4);
}
.signin-active, .signin-active:hover {
	background: #4a6440 !important;
	color: #fff;
}

.signin-panel {
	display: none;
	position: absolute;
	right: 10px;
	top: 30px;
	padding: .5em;
	width: 235px;
	z-index: 100;
	
	color: #fff;
	background: #4a6440;
	font-size: 90%;
}
.signin-panel input[type=text],
.signin-panel input[type=password] {
	width: 210px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	
	background: #e7eee4 !important;
	border: 1px solid #7ba66b !important;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.signin-panel a {
	border: 0;
	color: #a3c586 !important;
}
.signin-panel a:hover {
	border-bottom: 1px solid;
}

.corner-upper-left {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
}
.corner-upper-right {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
}
.corner-lower-left {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
}
.corner-lower-right {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/*
|---------------------------------------------------------------
| FOOTER
|---------------------------------------------------------------
*/
#footer {
	clear: both;
	line-height: 1.4;
	padding: .8em 0;
	
	text-align: center;
	font-size: 90%;
	color: #888;
	
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

/*
|---------------------------------------------------------------
| FONT COLORS
|---------------------------------------------------------------
*/
.page-head 		{ color: #5b7444; }
.page-subhead	{ color: #587498; }

.gray	{ color: #777; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #777;
	border-bottom: 1px solid;
}
a:hover {
	color: #555;
	border-bottom: 0;
}

a.edit {
	color: #bbb;
	border: none;
}
a.edit:hover { color: #a3c586; }

.markItUp a { border: 0 !important; }

/*
|---------------------------------------------------------------
| INPUTS
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d5d5d5;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 1.2em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #bbb;
}

textarea {
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d5d5d5;
	color: #777;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #444;
	border: 1px solid #bbb;
}

select {
	border: 1px solid #d5d5d5;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 1.2em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #bbb;
}

kbd {
	font-size: 115%;
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/
tr.alt td { background-color: #f5f5f5; }
tr.light_gray { background-color: #f5f5f5; }

th {
	text-align: center;
	font-size: 120%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
}

button.button-main {
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .55);
	font-size: 100%;
}
button.button-main:hover {
	border: 1px solid #76896e;
	background: #4a6440 url('../images/menu-bg-active.png') repeat-x center left;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

button.button-sec {
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	font-size: 90%;
	font-weight: normal;
}
button.button-sec:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/gradient-soft-50.png') repeat-x center left;
	color: #c77405;
}

button.button-small {
	border: 1px solid #ccc;
	background: #eee url('../images/gradient-soft-30.png') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover {
	border: 1px solid #bbb;
	background: #eee url('../images/gradient-soft-50.png') repeat-x top left;
	color: #555;
}

button.button-signin {
	height: 24px;
	padding: 0 10px 2px 10px;
	
	font-size: 95%;
	font-weight: bold;
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .55);
}
button.button-signin:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/gradient-soft-50.png') repeat-x center left;
	color: #c77405;
}

input.button-main {
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	border: 1px solid #76896e;
	background: #4a6440 url('../images/menu-bg-active.png') repeat-x center left;
	color: #fff;
}

input.button-sec {
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #d0d0d0;
	font-size: 100%;
	font-weight: normal;
}
input.button-sec:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/gradient-soft-50.png') repeat-x center left;
	color: #c77405;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .65;
	filter:alpha(opacity='70');
	
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x top left;
	color: #888;
	border: 1px solid #c0c0c0;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .55);
	font-size: 100%;
}

/*
|---------------------------------------------------------------
| COMMENTS AND BOXES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info, .info-full, #notes {
    background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.border-1 { border: 1px solid #ddd; }

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ol.roman { list-style: upper-roman; }
ul.none, ol.none { list-style: none; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: 1em;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/gradient-soft-50.png') repeat-x 0 0;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #c89797; 
	background: #ecc5c5 url('../images/gradient-soft-50.png') repeat-x 0 0;
	color: #6b0f0e;
}
.flash-info {
	border: 1px solid #97a5c8;
	background: #c5d6ec url('../images/gradient-soft-50.png') repeat-x 0 0;
	color: #0e2d6b;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.system_warning {
	height: 20px;
	line-height: 19px;
	width: 100%;
	
	background: transparent url('../images/js-disabled.png') repeat-x 0 0;
	color: #111;
	font-weight: bold;
	text-align: center;
}

.logged-in-controls {}
.logged-in-controls a { border: 0; }

/*
|---------------------------------------------------------------
| DASHBOARD
|---------------------------------------------------------------
*/
.panel-handle a, .panel-handle a:hover {
	text-decoration: none;
	border: none;
}
.panel-handle a span {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: #777;
	font-weight: bold;
}
.panel-handle a:hover span {
	background: #ccc url('../images/panel-handle-bg.png') repeat-x 0 0;
	color: #555;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

#panel .panel-body {
	background: #555 url('../images/panel-bg.png') repeat-x top left;
	border: 1px solid #111;
	color: #fff;
	text-align: left;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.panel-handle {
	background: #ddd url('../images/panel-handle-bg.png') repeat-x 0 0;
	border-bottom: 1px solid #222;
	text-align: center;
	font-size: 85%;
}

.panel-trigger span { text-align: center; }

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }