/*
|---------------------------------------------------------------
| MANAGE PAGES
|---------------------------------------------------------------
*/
.label-system {
	padding: 1px 3px;
	background: #2d90c3;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	font-size: 75%;
	border: 1px solid #26749c;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}
.label-restrict {
	padding: 1px 3px;
	background: #d00;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	font-size: 75%;
	border: 1px solid #b00;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}

.wiki-subnav {
	position: relative;
	height: 32px;
	line-height: 32px;
	padding: 0 6px;
	border: 1px solid #d2d2d2;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
	background: linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.subnav-options {
	float: right;
}
.subnav-options a {
	display: block;
	padding: 0 8px;
	font-weight: bold;
	border: none;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.subnav-options a:hover {
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d2d2d2));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d2d2d2',GradientType=0 );
	background: linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
}
.subnav-options-list {
	position: absolute;
	right: 128px;
	top: -25px;
	display: none;
	border: 1px solid #d2d2d2;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
	background: linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.subnav-options-list ul {
	margin: 6px 0;
	padding: 0;
	list-style: none;
}
.subnav-options-list ul li {
	margin: 0;
	padding: 0;
	line-height: 1.8;
}
.subnav-options-list ul li a {
	font-weight: normal;
	border: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.subnav-options-list ul li a:hover {
	border: none;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.subnav-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.subnav-content ul li {
	margin: 0 5px 0 0;
	padding: 0;
	float: left;
}
.subnav-content ul li a {
	display: block;
	padding: 0 8px;
	font-weight: bold;
	border: none;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.subnav-content ul li a:hover {
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d2d2d2));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d2d2d2',GradientType=0 );
	background: linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%);
}
.subnav-icon {
	display: block;
	float: left;
	padding: 8px 4px 0 0;
}
.subnav-icon-right {
	display: block;
	float: right;
	padding: 9px 0 0 6px;
}

.page-main {
	height: 32px;
	line-height: 32px;
}
.page-controls {
	float: right;
	height: 32px;
	line-height: 32px;
	margin: 0 5px 0 0;
}
.page-controls ul {
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	float: right;
	list-style: none;
}
.page-controls ul li {
	margin: 0 2px 0 0;
	padding: 0 7px;
	height: 32px;
	line-height: 32px;
	float: left;
	border: 1px solid transparent;
	border-bottom: none;
}
.control-active {
	background: #f5f5f5;
	border: 1px solid #e0e0e0 !important;
	border-bottom: none !important;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.page-supplemental {
	padding: 10px 5px;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

/**
 * Styles for the new category picker
 */
#category-panel {
	margin: 1em 0;
	min-height: 100px;
	width: 400px;
	border: 1px solid #ccd0d3;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.category-panel-header {
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	color: #555;
	font-weight: bold;
	border-bottom: 1px solid #ccd0d3;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
	background: linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-moz-box-shadow: inset 0 1px 0 #eff0f1;
	-webkit-box-shadow: inset 0 1px 0 #eff0f1;
	box-shadow: inset 0 1px 0 #eff0f1;
}
.category-panel-header input[type=text] {
	width: 325px;
	padding: 4px;
	color: #ababab;
}
.category-panel-header input[type=text]:focus {
	color: #777;
}
.category-panel-header button {
	float: right;
	margin: 10px 0;
	padding: 0;
	height: 24px;
	width: 24px;
	border: 1px solid transparent;
	background: transparent url('../images/cat-add.png') no-repeat 0 0;
}
.category-panel-header button:hover {
	background-position: 0 -24px;
	cursor: pointer;
}
.category-panel-content {
	padding: 10px;
}
.category-panel-content h3 {
	margin: 8px 0 6px 0;
	text-align: center;
	color: #414141;
	font-size: 1.2em;
}
.category-panel-content h4 {
	text-align: center;
	color: #787878;
	font-size: 1em;
	font-weight: normal;
}
.tag {
	display: inline-block;
	margin: 0 4px 6px 0;
	padding: 1px 4px;
	font-family: 'consolas', courier, monospace;
	font-size: 1.1em;
	color: #999;
	border: 1px solid #d0d0d0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
	background: linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.tag:hover {
	cursor: pointer;
	color: #c77405;
	border-color: #fbcb09;
	background: #fefae6;
	background: -moz-linear-gradient(top, #fefae6 0%, #fdf5ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefae6), color-stop(100%,#fdf5ce));
	background: -webkit-linear-gradient(top, #fefae6 0%,#fdf5ce 100%);
	background: -o-linear-gradient(top, #fefae6 0%,#fdf5ce 100%);
	background: -ms-linear-gradient(top, #fefae6 0%,#fdf5ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefae6', endColorstr='#fdf5ce',GradientType=0 );
	background: linear-gradient(top, #fefae6 0%,#fdf5ce 100%);
}
.tag-active, .tag-active:hover {
	background: #a5b2a0;
	background: -moz-linear-gradient(top, #a5b2a0 0%, #879880 50%, #778b70 51%, #778b70 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5b2a0), color-stop(50%,#879880), color-stop(51%,#778b70), color-stop(100%,#778b70));
	background: -webkit-linear-gradient(top, #a5b2a0 0%,#879880 50%,#778b70 51%,#778b70 100%);
	background: -o-linear-gradient(top, #a5b2a0 0%,#879880 50%,#778b70 51%,#778b70 100%);
	background: -ms-linear-gradient(top, #a5b2a0 0%,#879880 50%,#778b70 51%,#778b70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5b2a0', endColorstr='#778b70',GradientType=0 );
	background: linear-gradient(top, #a5b2a0 0%,#879880 50%,#778b70 51%,#778b70 100%);
	color: #fff;
	border-color: #76896e;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}