/*
|---------------------------------------------------------------
| MANAGE PAGES
|---------------------------------------------------------------
*/
.label-system {
	padding: 1px 3px;
	
	background: #2d90c3;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	font-size: 75%;
	border: 1px solid #26749c;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.label-restrict {
	padding: 1px 3px;
	
	background: #d00;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	font-size: 75%;
	border: 1px solid #b00;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.wiki-subnav {
	position: relative;
	height: 32px;
	line-height: 32px;
	padding: 0 6px;
	
	border: 1px solid #d2d2d2;
	
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
	
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.subnav-options {
	float: right;
}
.subnav-options a {
	display: block;
	padding: 0 8px;
	
	font-weight: bold;
	border: none;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.subnav-options a:hover {
	background: #ccc url('../images/gradient-soft-50.png') repeat-x top left;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}
.subnav-options-list {
	position: absolute;
	right: 128px;
	top: -25px;
	display: none;
	
	border: 1px solid #d2d2d2;
	
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
	
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.subnav-options-list ul {
	margin: 6px 0;
	padding: 0;
	
	list-style: none;
}
.subnav-options-list ul li {
	margin: 0;
	padding: 0;
	line-height: 1.8;
}
.subnav-options-list ul li a {
	font-weight: normal;
	border: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.subnav-options-list ul li a:hover {
	border: none;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.subnav-content ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.subnav-content ul li {
	margin: 0 5px 0 0;
	padding: 0;
	float: left;
}
.subnav-content ul li a {
	display: block;
	padding: 0 8px;
	
	font-weight: bold;
	border: none;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.subnav-content ul li a:hover {
	background: #ccc url('../images/gradient-soft-50.png') repeat-x top left;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}
.subnav-icon {
	display: block;
	float: left;
	padding: 8px 4px 0 0;
}
.subnav-icon-right {
	display: block;
	float: right;
	padding: 9px 0 0 6px;
}

.page-main {
	height: 32px;
	line-height: 32px;
}
.page-controls {
	float: right;
	height: 32px;
	line-height: 32px;
	margin: 0 5px 0 0;
}
.page-controls ul {
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	float: right;
	
	list-style: none;
}
.page-controls ul li {
	margin: 0 2px 0 0;
	padding: 0 7px;
	height: 32px;
	line-height: 32px;
	float: left;
	
	border: 1px solid transparent;
	border-bottom: none;
}
.control-active {
	background: #f5f5f5;
	border: 1px solid #e0e0e0 !important;
	border-bottom: none !important;
	
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
}
.page-supplemental {
	padding: 10px 5px;
	
	border: 1px solid #e0e0e0;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/**
 * Styles for the new category picker
 */
#category-panel {
	margin: 1em 0;
	min-height: 100px;
	width: 400px;
	
	border: 1px solid #ccd0d3;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.category-panel-header {
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	
	color: #555;
	font-weight: bold;
	border-bottom: 1px solid #ccd0d3;
	background: #e9ebed;
	background: -moz-linear-gradient(top, #e9ebed 0%, #d3d6d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9ebed), color-stop(100%,#d3d6d9));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ebed', endColorstr='#d3d6d9',GradientType=0 );
	
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	
	box-shadow: inset 0 1px 0 #eff0f1;
	-moz-box-shadow: inset 0 1px 0 #eff0f1;
	-webkit-box-shadow: inset 0 1px 0 #eff0f1;
}
.category-panel-header input[type=text] {
	width: 325px;
	padding: 4px;
	
	border: 1px solid #ccd0d3;
	color: #ababab;
	font-size: 1.2em;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.category-panel-header input[type=text]:focus {
	color: #777;
}
.category-panel-header button {
	float: right;
	margin: 10px 0;
	padding: 0;
	height: 24px;
	width: 24px;
	
	border: 1px solid #b8bdc2;
	color: #a7acae;
	font-weight: bold;
	background: #e9ebec;
	background: -moz-linear-gradient(top, #e9ebec 0%, #d3d6d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9ebec), color-stop(100%,#d3d6d9));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ebec', endColorstr='#d3d6d9',GradientType=0 );
	
	box-shadow: inset 0 1px 0 #f1f2f3, 0 1px 0 #e5e7e9;
	-moz-box-shadow: inset 0 1px 0 #f1f2f3, 0 1px 0 #e5e7e9;
	-webkit-box-shadow: inset 0 1px 0 #f1f2f3, 0 1px 0 #e5e7e9;
}
.category-panel-header button span {
	display: block;
	margin: 0;
	padding: 0;
	height: 14px;
	width: 15px;
	
	background: transparent url('../images/cat-add.png') no-repeat center center;
}
.category-panel-header button:hover {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #f6f6f6 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dfdfdf));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dfdfdf',GradientType=0 );
}
.category-panel-content {
	padding: 10px;
}
.category-panel-content h3 {
	margin: 8px 0 6px 0;
	
	text-align: center;
	color: #414141;
	font-size: 1.2em;
}
.category-panel-content h4 {
	text-align: center;
	color: #787878;
	font-size: 1em;
	font-weight: normal;
}
.tag {
	display: inline-block;
	margin: 0 4px 6px 0;
	padding: 1px 4px;
	
	font-family: 'consolas', courier, monospace;
	font-size: 1.1em;
	color: #999;
	background: #e5e5e5 url('../images/gradient-soft-50.png') repeat-x center left;
	border: 1px solid #d0d0d0;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .8);
	
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.tag:hover {
	cursor: pointer;
	background: #fdf5ce url('../images/gradient-soft-50.png') repeat-x center left;
	color: #c77405;
	border-color: #fbcb09;
}
.tag-active, .tag-active:hover {
	color: #fff;
	background: #4a6440 url('../images/menu-bg-active.png') repeat-x center left;
	border-color: #76896e;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}