/*
|---------------------------------------------------------------
| STYLESHEET - FORMS
|---------------------------------------------------------------
|
| File: _base/install/css/forms.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Stylesheet that controls the way forms look and behave as well
| as tables
|
*/

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	margin: 0;
	padding: 3px;
	width: 325px;
	
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: inherit;
	font-size: 120%;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
}
input.small     	{ width: 50px; }
input.medium    	{ width: 100px; }
input.medium-large	{ width: 150px; }

select {
	margin: 0;
	padding: 2px;
	
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: inherit;
	font-size: 120%;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
	outline: 0;
}

/*
|---------------------------------------------------------------
| TABLE STYLES
|---------------------------------------------------------------
*/
table { font-size: 100%; }

table.verify { border: 1px solid #aaa; }
table.verify th {
	font-weight: bold;
	font-size: 125%;
	background-color: #666;
	color: #fff;
	padding: 4px;
}
table.verify td {
	padding: 6px;
	vertical-align: middle;
	width: 25%;
	
	font-size: 115%;
}

.table100	{ width: 100%; }
.table75	{ width: 75%; }

td {
	padding: 3px;
	vertical-align: middle;
}

tr.alt td { background-color: #eee; }

td.col_15 { width: 15px; }
td.col_30 { width: 30px; }

td.align_top { vertical-align: top; }
td.align_bottom { vertical-align: bottom; }
td.align_middle { vertical-align: middle; }
td.align_left { text-align: left; }
td.align_right { text-align: right; }
td.align_center { text-align: center; }

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/

button {
	height: 25px;
	padding: 0 10px 1px 10px;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	outline: 0 !important;
	font-weight: bold;
}

button.button-main {
	border: 1px solid #adc0d0;
	background: #dfeffc url('../images/button_main_bg.jpg') repeat-x top left;
	color: #2e6e9e;
}
button.button-main:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/button_main_bg_hover.jpg') repeat-x top left;
	color: #c77405;
}

button.button-sec {
	border: 1px solid #ccc;
	background: #fff url('../images/button_sec_bg.jpg') repeat-x top left;
	color: #777;
}
button.button-sec:hover { border: 1px solid #aaa; }

input.button-main {
	height: 25px;
	padding: 0 10px;
	
	border: 1px solid #adc0d0;
	background: #dfeffc url('../images/button_main_bg.jpg') repeat-x bottom left;
	font-weight: bold;
	font-size: 120%;
	color: #2e6e9e;
}
input.button-main:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/button_main_bg_hover.jpg') repeat-x top left;
	color: #c77405;
}

input.button-sec {
	height: 25px;
	padding: 0 10px;
	
	border: 1px solid #ccc;
	background: #f9f9f9 url('../images/button_sec_bg.jpg') repeat-x bottom left;
	font-weight: bold;
	font-size: 120%;
	color: #555;
}
input.button-sec:hover { color: #999; }

/*
|---------------------------------------------------------------
| DISABLED CONTENT
|---------------------------------------------------------------
*/

input[disabled],
button[disabled] { color: #aaa; }

input[disabled]:hover,
button[disabled]:hover { border: 1px solid #ccc; }