/*
|---------------------------------------------------------------
| MASTER BODY STYLES
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #ccc;
	color: #444;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| HEAD STYLES
|---------------------------------------------------------------
|
| The head layer
*/
#head {
	margin: 1em 0 0 0;
	padding: 0;
	
	text-align: center;
}

/*
|---------------------------------------------------------------
| BODY STYLES
|---------------------------------------------------------------
*/
#body {
	position: relative;
	width: 750px;
	margin: 1.5em auto;
	
	border: 1px solid #aaa;
	background: #e5e5e5;
	text-align: left;
	
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
}

.nav-sub {
	width: 160px;
	margin: 26px 0 0 0;
	float: left;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0 6px;
	margin: 2px 0;
	line-height: 2;
}
.nav-sub ul li a {
	display: block;
	
	text-decoration: none;
	color: #2e6e9e;
	font-weight: bold;
	border: 1px solid transparent;
	font-size: 92%;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nav-sub ul li a:hover, .nav-sub ul li a.active {
	color: #381f00;
	border: 1px solid #a45b13;
	background: #ffdd57 url('../images/gradient-50-bg.png') repeat-x center left;
}
.nav-sub ul li a span { padding: 2px 3px; }

.nav-sub .footer {
	margin: 3em 0 0 0;
	padding: 0 8px;
	
	font-size: 85%;
}

.content {
	margin-left: 160px;
	line-height: 1.4;
	padding: 1em;
	
	background: #fafafa;
	border-left: 1px solid #aaa;
	
	border-radius: 0 9px 9px 0;
	-moz-border-radius: 0 9px 9px 0;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
}

/*
|---------------------------------------------------------------
| FONT COLOR CLASSES
|---------------------------------------------------------------
*/
.page-head {
	color: #111;
	font-weight: normal;
}

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #817865;
}
a:hover {
	color: #494437;
	border-bottom: 1px solid;
}

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 100%;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
}

select {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 100%;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	
	font-weight: bold;
}

button.button-main {
	border: 1px solid #494437;
	background: #817865 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #fff;
}
button.button-main:hover {
	border: 1px solid #a45b13;
	background: #ffdd57 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #381f00;
}

input.button-main {
	border: 1px solid #494437;
	background: #817865 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	border: 1px solid #a45b13;
	background: #ffdd57 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #381f00;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	color: #ccc;
	background: #817865 url('../images/gradient-30-bg.png') repeat-x center left;
	border: 1px solid #494437;
}

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/gradient-30-bg.png') repeat-x 0 0;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	background: #fef1ec url('../images/gradient-30-bg.png') repeat-x 0 0;
	color: #cd0a0a;
}
.flash-info {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x 0 0;
	color: #363636;
}