/*
|---------------------------------------------------------------
| RESET
|---------------------------------------------------------------
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*
|---------------------------------------------------------------
| HEADING STYLES
|---------------------------------------------------------------
*/
h1, p { margin: 8px 0; }

h1 { font-size: 200%; }

p {
	font-size: 100%;
	line-height: 1.5;
	padding: 0 0 8px 0;
}

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a { outline: 0; }

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	margin: 0;
	padding: 3px;
	width: 325px;
}

select {
	margin: 0;
	padding: 2px;
}
select:focus, select:hover { outline: 0; }

kbd {
	display: block;
	margin: 0 0 5px 0;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	height: 25px;
	padding: 0 10px 1px 10px;
	outline: 0 !important;
}

button.button-main { min-width: 85px; }

input.button-main {
	height: 25px;
	padding: 0 10px;
	min-width: 85px;
}

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	margin: 0 auto 10px auto;
	line-height: 1;
}
.flash_message p {
	margin: 0;
	padding: 3px 5px;
}