/*
|---------------------------------------------------------------
| MASTER BODY STYLES
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #ccc;
	color: #444;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER STYLES
|---------------------------------------------------------------
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}

/*
|---------------------------------------------------------------
| HEAD STYLES
|---------------------------------------------------------------
*/
#head {
	margin: 1em 0 0 0;
	padding: 0;
	
	text-align: center;
}

/*
|---------------------------------------------------------------
| MENU STYLES
|---------------------------------------------------------------
*/
#menu { margin: .5em; }
#menu .nav-main {}
#menu .nav-main ul {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
	text-align: center;
}
#menu .nav-main ul li {
	margin: 0 5px;
	padding: 0;
	display: inline;
}
#menu .nav-main ul li a {
	padding: 0 0 2px 0;
	margin: 0 5px;
	
	text-decoration: none;
	color: #666;
	font-weight: bold;
}
#menu .nav-main ul li a span { padding: 0; }
#menu .nav-main ul li a:hover { border-bottom: 2px solid #817865; }
#menu .nav-main ul li a.active {
	border-bottom: 2px solid #0074c7;
	color: #444;
}

/*
|---------------------------------------------------------------
| BODY STYLES
|---------------------------------------------------------------
*/
#body {
	position: relative;
	width: 960px;
	margin: 1.5em auto;
	
	border: 1px solid #aaa;
	background: #e5e5e5;
	text-align: left;
	
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
}

.nav-sub {
	width: 180px;
	margin: 26px 0 0 0;
	float: left;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0 6px;
	margin: 2px 0;
	line-height: 2;
}
.nav-sub ul li a {
	display: block;
	
	text-decoration: none;
	color: #2e6e9e;
	font-weight: bold;
	border: 1px solid transparent;
	font-size: 92%;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nav-sub ul li a:hover {
	color: #381f00;
	border: 1px solid #a45b13;
	background: #ffdd57 url('../images/gradient-50-bg.png') repeat-x center left;
}
.nav-sub ul li a span { padding: 2px 3px; }
.nav-sub ul li.spacer {
	height: 12px;
	
	border: none;
}

.nav-sub .footer {
	margin: 3em 0 0 0;
	padding: 0 8px;
	
	font-size: 85%;
}

.nav-sub ul li.menu_category {
	font-weight: bold;
	font-size: 110%;
}

.content {
	margin-left: 180px;
	line-height: 1.4;
	padding: 1em;
	
	background: #fafafa;
	border-left: 1px solid #aaa;
	
	border-radius: 0 9px 9px 0;
	-moz-border-radius: 0 9px 9px 0;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
}

/*
|---------------------------------------------------------------
| FONT COLOR CLASSES
|---------------------------------------------------------------
*/
.page-head {
	color: #111;
	font-weight: normal;
}
.page-subhead	{ color: #0074c7; }

.gray	{ color: #666; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #817865;
}
a:hover {
	color: #494437;
	border-bottom: 1px solid;
}

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
}

textarea {
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d8d8d8;
	color: #777;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #444;
	border: 1px solid #777;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
}

select {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .18);
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLE STYLES
|---------------------------------------------------------------
*/
tr.alt td { background-color: #ededed; }
tr.light_gray { background-color: #ddd; }

th {
	text-align: center;
	font-size: 120%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	
	font-weight: bold;
}

button.button-main {
	border: 1px solid #494437;
	background: #817865 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #fff;
	
	box-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
}
button.button-main:hover {
	border: 1px solid #a45b13;
	background: #ffdd57 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #381f00;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}
button.button-sec {
	border: 1px solid #d7d7d7;
	background: #e7e7e7 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #777;
	
	box-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
}
button.button-sec:hover {
	border: 1px solid #bbb;
	background: #ddd url('../images/gradient-50-bg.png') repeat-x center left;
	color: #666;
}

input.button-main {
	border: 1px solid #494437;
	background: #817865 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	border: 1px solid #a45b13;
	background: #ffdd57 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #381f00;
}
input.button-sec {
	border: 1px solid #d7d7d7;
	background: #e7e7e7 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #777;
	font-weight: bold;
	font-size: 120%;
}
input.button-sec:hover {
	border: 1px solid #bbb;
	background: #ddd url('../images/gradient-50-bg.png') repeat-x center left;
	color: #666;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	border: 1px solid #494437;
	background: #817865 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #fff;
}

button.button-small {
	border: 1px solid #ccc;
	background: #fff url('../images/gradient-50-bg.png') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover { border: 1px solid #aaa; }

/*
|---------------------------------------------------------------
| COMMENT STYLES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info, .info-full, #notes {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.border-1 { border: 1px solid #ddd; }

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ul.none, ol.none { list-style: none; }
ol.roman { list-style: upper-roman; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/gradient-30-bg.png') repeat-x 0 0;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	background: #fef1ec url('../images/gradient-30-bg.png') repeat-x 0 0;
	color: #cd0a0a;
}
.flash-info {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x 0 0;
	color: #363636;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.system_warning {
	font-weight: bold;
	text-align: center;
}

/*
|---------------------------------------------------------------
| ACP PANEL
|---------------------------------------------------------------
*/
#acp-panel {
	border: 1px solid #aaa;
	background: #e5e5e5;
	
	border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}
.panel {
	background: #f8f8f8;
	border-left: 1px solid #aaa;
	
	border-radius: 0 8px 0 0;
	-moz-border-radius: 0 8px 0 0;
	-webkit-border-top-right-radius: 8px;
}
#panelmenu { list-style: none; }
#panelmenu li a {
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
}
#panelmenu li a span {
	color: #026890;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right: 1px solid #aaa;
}
#panelmenu li a:hover span {
	color: #381f00;
	background: #ffdd57 url('../images/gradient-30-bg.png') repeat-x 0 0;
	border-top: 1px solid #a45b13;
	border-bottom: 1px solid #a45b13;
}
#panelmenu li a.active span {
	background: #f8f8f8;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #f8f8f8;
}
#panelmenu li a.active:hover span {}

#online {
	background: #f2f2f2;
	border: 1px solid #aaa;
	border-top: none;
	
	border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.count {
	font-weight: bold;
	font-size: 90%;
	
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

table.acp {
	font-size: 110%;
	border: 1px solid #aaa;
}
.col1 {
	font-size: 125%;
	text-align: right;
	font-weight: bold;
}
.col2 {
	font-size: 90%;
	font-weight: bold;
}

/*
|---------------------------------------------------------------
| PANEL
|---------------------------------------------------------------
*/
.panel-handle a, .panel-handle a:hover {
	text-decoration: none;
	border: none;
}
.panel-handle a span {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	font-weight: bold;
}
.panel-handle a:hover span {
	background: #ffdd57 url(../images/ui-bg_gloss-wave_70_ffdd57_500x100.png) 50% 50% repeat-x;
	color: #381f00;
	border-left: 1px solid #a45b13;
	border-right: 1px solid #a45b13;
}

#panel .panel-body {
	background: #555 url('../images/panel-bg.png') repeat-x top left;
	color: #fff;
	text-align: left;
}

.panel-handle {
	text-align: center;
	font-size: 85%;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
.panel-trigger span { text-align: center; }

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }