/*
|---------------------------------------------------------------
| STYLESHEET - FORMS
|---------------------------------------------------------------
|
| File: default/main/css/forms.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Stylesheet that controls the way forms look and behave as well
| as tables
|
*/

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	margin: 0;
	padding: 3px;
	width: 275px;
	
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: inherit;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
}
input.small		{ width: 50px; }
input.medium	{ width: 100px; }

textarea {
	margin: 0;
	padding: 3px;
	width: 500px;
	
	font-size: 100%;
	font-family: inherit;
	border: 1px solid #d8d8d8;
	color: #777;
}
textarea:focus {
	color: #444;
	border: 1px solid #777;
}

select {
	margin: 0;
	padding: 2px;
	
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: inherit;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
	outline: 0;
}

.cell-label {
	width: 130px;
	
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}
.cell-spacer { width: 20px; }

/*
|---------------------------------------------------------------
| TABLE STYLES
|---------------------------------------------------------------
*/
table { font-size: 100%; }

.table100	{ width: 100%; }
.table75	{ width: 75%; }

.table560px	{ width: 560px; }

td {
	padding: 3px;
	vertical-align: middle;
}

tr.alt td { background-color: #eee; }

.col_15 { width: 15px; }
.col_30 { width: 30px; }
.col_40 { width: 40px; }
.col_50 { width: 50px; }
.col_75 { width: 75px; }
.col_100 { width: 100px; }
.col_150 { width: 150px; }
.col_200 { width: 200px; }
.col_245 { width: 245px; }
.col_260 { width: 260px; }
.col_300 { width: 300px; }

.col_20pct { width: 20%; }
.col_25pct { width: 25%; }
.col_30pct { width: 30%; }
.col_40pct { width: 40%; }
.col_50pct { width: 50%; }
.col_60pct { width: 60%; }

tr.light_gray { background-color: #ddd; }

td.align_top { vertical-align: top; }
td.align_bottom { vertical-align: bottom; }
td.align_middle { vertical-align: middle; }
td.align_left { text-align: left; }
td.align_right { text-align: right; }
td.align_center { text-align: center; }

th {
	text-align: center;
	font-size: 120%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/

button {
	height: 25px;
	padding: 0 10px 1px 10px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	outline: 0 !important;
	font-weight: bold;
}

button.button-main {
	border: 1px solid #e78f08;
	background: #f6a828 url('../images/button-main-bg.png') repeat-x top left;
	color: #fff;
}
button.button-main:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/button-main-hover-bg.png') repeat-x top left;
	color: #c77405;
}

button.button-sec {
	border: 1px solid #ccc;
	background: #fff url('../images/button-sec-bg.png') repeat-x top left;
	color: #1c94c4;
}
button.button-sec:hover {
	border: 1px solid #fbd850;
	color: #eb8f00;
}

button.button-small {
	height: 20px !important;
	padding: 0 0 1px 6px !important;
	outline: 0 !important;
	
	border: 1px solid #ccc;
	background: #fff url('../images/button-sec_bg.jpg') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover { border: 1px solid #aaa; }

input.button-main {
	height: 25px;
	padding: 0 10px;
	
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #e78f08;
	background: #dfeffc url('../images/button-main-bg.png') repeat-x bottom left;
	color: #fff;
}
input.button-main:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/button-main-hover-bg.png') repeat-x top left;
	color: #c77405;
}

input.button-sec {
	height: 25px;
	padding: 0 10px;
	
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #ccc;
	background: #fff url('../images/button-sec-bg.png') repeat-x top left;
	color: #1c94c4;
}
input.button-sec:hover {
	border: 1px solid #fbd850;
	color: #eb8f00;
}

/*
|---------------------------------------------------------------
| DISABLED CONTENT
|---------------------------------------------------------------
*/

input[disabled],
button[disabled] { color: #aaa; }

input[disabled]:hover,
button[disabled]:hover { border: 1px solid #ccc; }