/*
|---------------------------------------------------------------
| STYLESHEET - PANEL
|---------------------------------------------------------------
|
| File: default/main/css/panel.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Main stylesheet used by the user panel
|
*/

#panel {}

.panel-handle a, .panel-handle a:hover {
	text-decoration: none;
	border: none;
	outline: 0;
	margin: 0;
	padding: 0;
	display: block;
}
.panel-handle a span {
	display: block;
	padding: 0 1em;
	
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	font-weight: bold;
}
.panel-handle a:hover span {
	background: #fdf5ce url(../images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
	color: #c77405;
	border-left: 1px solid #fbcb09;
	border-right: 1px solid #fbcb09;
}
.panel-handle .ui-icon {
	margin: 3px 0 0 4px;
	padding: 0;
}

#panel .panel-body {
	display: none;
	padding: 0 0 1em 0;
	
	background: #555 url('../images/panel-bg.png') repeat-x top left;
	color: #fff;
}

.panel-handle {
	height: 22px;
	line-height: 22px;
	
	/*background: #000 url('../images/panel-handle-bg.png') repeat-x 0 0;*/
	border-bottom: 1px solid #444;
	text-align: center;
	font-size: 85%;
}

.panel-trigger {
	display: block;
	float: right;
	width: 115px;
}
.panel-trigger span { text-align: center; }

#panel-handle-left { width: auto; }
#panel-handle-left li {
	float: left;
	margin: 0 2px 0 0;
}

.panel-notify-icon {
	float: left;
	margin: 6px 6px 0 0;
}

.panel-clear { clear: both; }

.panel_1, .panel_2, .panel_3 { width: 300px; }
.panel_spacer { width: 30px; }

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }