/*
|---------------------------------------------------------------
| STYLESHEET - MAIN
|---------------------------------------------------------------
|
| File: _base/install/css/main.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Main stylesheet used by the install script
|
*/

/*
|---------------------------------------------------------------
| STYLESHEET INCLUDES
|---------------------------------------------------------------
| Pulls in the other stylesheets used by the theme
|
| reset		=> resets the styles
| forms     => forms, buttons, and tables
| text      => fonts and links
| display	=> various display styles
| ui.theme	=> override stylesheet for jQuery UI
*/
@import url('reset.css');
@import url('forms.css');
@import url('text.css');
@import url('display.css');

/*
|---------------------------------------------------------------
| MASTER BODY STYLES
|---------------------------------------------------------------
| Master font size, family, and color are controlled from here
*/
body {
	margin: 0;
	padding: 0;
	
	background: #f6f6f6;
	color: #444;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER STYLES
|---------------------------------------------------------------
| The wrapper controls the width and centering of the layout
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD STYLES
|---------------------------------------------------------------
|
| The head layer
*/
#head {
	height: 60px;
	line-height: 45px;
	margin: 1em 0;
}

.logo { float: right; }

.label {
	width: 680px;
	padding: 40px 0 0 0;
	
	font-size: 240%;
	color: #fff;
	font-weight: bold;
}

.menu {
	float: right;
	width: 250px;
}

#nav { margin: 25px 0 0 0; }
#nav li { margin: 4px 0; }

#nav li a,
#nav li.step {
	display: block;
	text-align: right;
	padding: 5px 7px;
	outline: 0;
	
	font-weight: bold;
	font-size: 90%;
	border: 1px solid #555;
	color: #eee;
	background: #333;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#nav li a:hover {
	background: #444;
	border: 1px solid #666;
}
#nav li.active,
#nav li.active a,
#nav li.active a:hover {
	background: #718c60;
	border: 1px solid #96a98b;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#nav li.active a,
#nav li.active a:hover { border: none; }

/*
|---------------------------------------------------------------
| BODY STYLES
|---------------------------------------------------------------
| The body layer contains the sub-nav and content layers
|
| .nav-sub => sub navigation
| .content => main page content
*/
#body {
	width: 960px;
	margin: 1em auto;
	
	text-align: left;
}

.content {
	line-height: 1.4;
	padding: 1em 0;
}

/*
|---------------------------------------------------------------
| FOOTER STYLES
|---------------------------------------------------------------
*/
#footer {
	width: 500px;
	margin: 2em auto;
	padding: 1em 0;
	clear: both;
	
	text-align: center;
	font-size: 85%;
	color: #888;
}