body {
	background: #404248 url(../images/body-bg.jpg) repeat top left;
	color: #eee;
	font: 85%/1.6 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

#container {
	width: 950px;
	margin: 2em auto 1em auto;
	text-align: left;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

header {
	width: 948px;
	height: 250px;
	border: 1px solid #181818;
	border-top: none;
	background: transparent url(../images/header-bg.jpg) no-repeat top left;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, .15);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, .15);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, .15);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#menu {
	height: 40px;
	line-height: 40px;
	background: #484848;
	background: -moz-linear-gradient(top, #484848 0%, #303030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#484848), color-stop(100%,#303030));
	background: -webkit-linear-gradient(top, #484848 0%,#303030 100%);
	background: -o-linear-gradient(top, #484848 0%,#303030 100%);
	background: -ms-linear-gradient(top, #484848 0%,#303030 100%);
	background: linear-gradient(top, #484848 0%,#303030 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#303030',GradientType=0 );
	border: 1px solid #181818;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#menu .nav-main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	padding: 0;
}
#menu .nav-main ul li a {
	display: block;
	padding: 0 15px;
	text-decoration: none;
	color: #999;
	font-weight: bold;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}
#menu .nav-main ul li a:hover {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}
#menu .nav-main ul li a.active {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
	border-left: 1px solid rgba(0, 0, 0, .75);
	border-right: 1px solid rgba(0, 0, 0, .75);
	background: #4d93dd;
	background: -moz-linear-gradient(top, #4d93dd 0%, #215a88 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d93dd), color-stop(100%,#215a88));
	background: -webkit-linear-gradient(top, #4d93dd 0%,#215a88 100%);
	background: -o-linear-gradient(top, #4d93dd 0%,#215a88 100%);
	background: -ms-linear-gradient(top, #4d93dd 0%,#215a88 100%);
	background: linear-gradient(top, #4d93dd 0%,#215a88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d93dd', endColorstr='#215a88',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}

#menu .nav-main ul li:first-child a {
	border-left: none;
	-moz-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;
}

.panel-controls {
	float: right;
	margin: 0 10px 0 0;
}
.panel-controls a:hover { border: 0; }

#body {
	position: relative;
	margin: 1em 0 0 0;
	padding: 0 .25em;
}

.nav-sub {
	float: right;
	width: 160px;
	margin: 10px 0;
	text-align: right;
	font-size: 95%;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2;
}
.nav-sub ul li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}
.nav-sub ul li a:hover {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}
.nav-sub ul li a span { padding: 2px 5px; }
.nav-sub ul li.spacer {
	height: 12px;
	border: none;
}

.content {
	margin-right: 180px;
	line-height: 1.6;
}
.content p, .content a, .content li {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

footer {
	position: relative;
	clear: both;
	padding-bottom: 10px;
	text-align: center;
	font-size: 90%;
	color: #999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

/*
|---------------------------------------------------------------
| FONT COLOR CLASSES
|---------------------------------------------------------------
*/
.page-head, .page-subhead {
	color: #f3b907;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.page-subhead { color: #b9bbbd; }

.gray	{ color: #999; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #2389db;
}
a:hover { color: #f3b907; }

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password],
input[type=email],
textarea,
select {
	border: 1px solid #1f2124;
	color: #9FA4A8;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 1.1em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	background: #2b2e31;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .1);
}

.hud_content input[type=text],
.hud_content input[type=password],
.hud_content input[type=email],
.hud_content textarea,
.hud_content select {
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #a8a8a8;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
	background: linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	font-size: 1.1em;
	font-family: "lucida grande", verdana, arial, sans-serif;
	color: #999;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	-webkit-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
}
.hud_content input[type=text]:focus,
.hud_content input[type=password]:focus,
.hud_content input[type=email]:focus,
.hud_content textarea:focus,
.hud_content select:hover {
	border: 1px solid #a8b3a3;
	background: #fff;
	color: #555;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLE STYLES
|---------------------------------------------------------------
*/
tr.alt td, tr.light_gray { background-color: #4b4d52; }

th {
	text-align: center;
	font-size: 120%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 0 rgba(255, 255, 255, .1);
}

button.button-main {
	border-color: #25282a;
	background: #4d93dd;
	background: -moz-linear-gradient(top, #4d93dd 0%, #215a88 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d93dd), color-stop(100%,#215a88));
	background: -webkit-linear-gradient(top, #4d93dd 0%,#215a88 100%);
	background: -o-linear-gradient(top, #4d93dd 0%,#215a88 100%);
	background: -ms-linear-gradient(top, #4d93dd 0%,#215a88 100%);
	background: linear-gradient(top, #4d93dd 0%,#215a88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d93dd', endColorstr='#215a88',GradientType=0 );
}
button.button-main:hover {
	background: #4483c5;
	background: -moz-linear-gradient(top, #4483c5 0%, #1e527b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4483c5), color-stop(100%,#1e527b));
	background: -webkit-linear-gradient(top, #4483c5 0%,#1e527b 100%);
	background: -o-linear-gradient(top, #4483c5 0%,#1e527b 100%);
	background: -ms-linear-gradient(top, #4483c5 0%,#1e527b 100%);
	background: linear-gradient(top, #4483c5 0%,#1e527b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4483c5', endColorstr='#1e527b',GradientType=0 );
}

button.button-sec {
	border-color: #212325;
	color: #aaa;
	background: #585e62;
	background: -moz-linear-gradient(top, #585e62 0%, #393e41 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585e62), color-stop(100%,#393e41));
	background: -webkit-linear-gradient(top, #585e62 0%,#393e41 100%);
	background: -o-linear-gradient(top, #585e62 0%,#393e41 100%);
	background: -ms-linear-gradient(top, #585e62 0%,#393e41 100%);
	background: linear-gradient(top, #585e62 0%,#393e41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585e62', endColorstr='#393e41',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(255, 255, 255, .1);
}
button.button-sec:hover {
	color: #bbb;
	background: #4e5457;
	background: -moz-linear-gradient(top, #4e5457 0%, #34393b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e5457), color-stop(100%,#34393b));
	background: -webkit-linear-gradient(top, #4e5457 0%,#34393b 100%);
	background: -o-linear-gradient(top, #4e5457 0%,#34393b 100%);
	background: -ms-linear-gradient(top, #4e5457 0%,#34393b 100%);
	background: linear-gradient(top, #4e5457 0%,#34393b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5457', endColorstr='#34393b',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

button.button-small {
	border: 1px solid #666;
	background: #111 url('../images/gradient-soft-30.png') repeat-x center left;
	color: #ddd;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover {
	border: 1px solid #888;
	background: #222 url('../images/gradient-soft-30.png') repeat-x center left;
	color: #ddd;
}

input.button-main {
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #333;
	background: #000 url('../images/gradient-hard-30.png') repeat-x center left;
	color: #ccc;
}
input.button-main:hover {
	border: 1px solid #333;
	background: #111 url('../images/gradient-hard-50.png') repeat-x center left;
	color: #fff;
}

input.button-sec {
	font-weight: bold;
	font-size: 120%;
	border: 1px solid transparent;
	color: #555;
	background: transparent;
}
input.button-sec:hover {
	color: #aaa;
	border: 1px solid #222;
	background: #111 url('../images/gradient-hard-30.png') repeat-x center left;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	border-color: #212325;
	color: #aaa;
	background: #585e62;
	background: -moz-linear-gradient(top, #585e62 0%, #393e41 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585e62), color-stop(100%,#393e41));
	background: -webkit-linear-gradient(top, #585e62 0%,#393e41 100%);
	background: -o-linear-gradient(top, #585e62 0%,#393e41 100%);
	background: -ms-linear-gradient(top, #585e62 0%,#393e41 100%);
	background: linear-gradient(top, #585e62 0%,#393e41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585e62', endColorstr='#393e41',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(255, 255, 255, .1);
}

/*
|---------------------------------------------------------------
| COMMENT STYLES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info, .info-full, #notes {
    background: #2b2e31;
    border: 1px solid #222;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1);
}

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ul.none, ol.none { list-style: none; }
ol.roman { list-style: upper-roman; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	background: #2b2e31;
	border: 1px solid #222;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .1);
}
.flash-success {
	color: #00d523;
}
.flash-error {
	color: #fc7575;
}
.flash-info {
	color: #4d93dd;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #333;
	border: 1px solid rgba(0, 0, 0, .35);
	border-width: 1px 0 0;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.loader { text-align: center; }

.system_warning {
	font-weight: bold;
	text-align: center;
}

/*
|---------------------------------------------------------------
| PANEL
|---------------------------------------------------------------
*/
#panel, #panel .panel_body {
	width: 950px;
	height: 250px;
	background: rgba(0, 0, 0, .75);
	color: #fff;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
#panel .panel-body {
	padding: 1em;
}

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}
.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }
