/*
|---------------------------------------------------------------
| MASTER BODY
|---------------------------------------------------------------
*/
body {
	background: #f8f8f8;
	color: #444;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER
|---------------------------------------------------------------
| The wrapper controls the width and centering of the layout
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD
|---------------------------------------------------------------
*/
#head {
	margin: 0;
	padding: 0;
	height: 80px;
	
	background: #212425 url('../images/head-bg.png') repeat-x top left;
	background: -moz-linear-gradient(0% 100% 90deg, #212425, #525758);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525758), to(#212425));
	color: #eee;
}
#head .head_top {
	height: 6px;
	
	background: #000;
	border-bottom: 1px solid #888;
}
#head .head_content {
	margin: 12px 0 0 0;
	
	font-weight: bold;
}

/*
|---------------------------------------------------------------
| MENUS
|---------------------------------------------------------------
*/
#menu {
	height: 22px;
	
	font-size: 100%;
}
#menu .nav-main {}
#menu .nav-main ul {
	margin: 0;
	padding: 0;
	height: 24px;
	
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
	height: 22px;
	line-height: 24px;
}
#menu .nav-main ul li a {
	display: block;
	
	text-decoration: none;
	color: #999;
	font-weight: bold;
	border: 1px solid transparent;
	border-top: none;
}
#menu .nav-main ul li a span { padding: 0 20px; }
#menu .nav-main ul li a:hover {
	color: #333;
}
#menu .nav-main ul li a.active {
	color: #fff;
	background: #212425;
	border: 1px solid #000;
	border-top: 0;
	
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/*
|---------------------------------------------------------------
| CONTENT
|---------------------------------------------------------------
*/
#body {
	margin: 2em 0;
	position: relative;
}

.nav-sub {
	float: right;
	width: 160px;
	margin: 0 0 10px 0;
	padding: 0 0 .5em 0;
	
	text-align: right;
	font-size: 92%;
	background: #212425;
	background: -moz-linear-gradient(0% 100% 90deg, #212425, #525758);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525758), to(#212425));
	border: 1px solid #000;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow:
		inset 0px 1px 0px rgba(255, 255, 255, .25) /*Top*/, 
		inset 0px 0px 2px rgba(255, 255, 255, .35) /*Shine*/;
	-moz-box-shadow:
		inset 0px 1px 0px rgba(255, 255, 255, .25) /*Top*/, 
		inset 0px 0px 2px rgba(255, 255, 255, .35) /*Shine*/;
	-webkit-box-shadow:
		inset 0px 1px 0px rgba(255, 255, 255, .25) /*Top*/, 
		inset 0px 0px 2px rgba(255, 255, 255, .35) /*Shine*/;
}
.nav-sub h1 {
	margin: 7px auto !important;
	padding: 0 !important;
	line-height: 1.2;
	width: 90%;
	
	border: 0 !important;
	background: transparent !important;
	font-size: 120% !important;
	text-align: center !important;
	color: #fff !important;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, .3);
}
.nav-sub hr {
	height: 0;
	width: 90%;
	margin: 0 auto .5em auto;
	
	border-top: 1px solid #222525;
	border-top: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid #6a6e6f;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	border-left: 0;
	border-right: 0;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2;
}
.nav-sub ul li a {
	display: block;
	
	text-decoration: none;
	color: #aaa;
	font-weight: bold;
}
.nav-sub ul li a:hover {
	color: #dadbdb;
	border: 0 !important;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, .4);
}
.nav-sub ul li a span { padding: 2px 7px; }
.nav-sub ul li.spacer {
	height: 12px;
	
	border: none;
}

.content {
	width: 760px;
	margin-right: 175px;
	padding-left: 5px;
	line-height: 1.4;
	position: relative;
}

/*
|---------------------------------------------------------------
| FOOTER
|---------------------------------------------------------------
*/
#footer {
	padding: 1.5em 0;
	clear: both;
	line-height: 1.4;
	width: 960px;
	margin: 2em auto;
	
	text-align: center;
	font-size: 90%;
	color: #888;
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*
|---------------------------------------------------------------
| FONT COLORS
|---------------------------------------------------------------
*/
.page-head 		{ color: #587498; }
.page-subhead	{ color: #5b7444; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #2e6e9e;
}
a:hover {
	color: #c77405;
	border-bottom: 1px solid;
}

/*
|---------------------------------------------------------------
| INPUTS
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
}

textarea {
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d8d8d8;
	color: #666;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #444;
	border: 1px solid #b8b8b8;
}

select {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
}

kbd { font-family: "lucida grande", verdana, arial, sans-serif; }

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/
tr.alt td, .alt { background-color: #eee; }
tr.light_gray { background-color: #ddd; }

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	display: inline-block;
	margin: 5px;
	outline: 0 !important;
	
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

button.btn-main {
	padding: 0 35px 3px 35px;
	height: 26px;
	line-height: 25px;
	
	border: 1px solid #4081af;
	color: #fff;
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, .4);
	background: #237fd7;
	background: -moz-linear-gradient(center top, #52a8e8 20%, #237fd7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #237fd7));
	
	box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, .3),
		inset 0 0 2px hsla(0, 100%, 100%, .3),
		0 1px 2px hsla(0, 0%, 0%, .29);
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3),
		inset 0 0 2px hsla(0, 100%, 100%, .3),
		0 1px 2px hsla(0, 0%, 0%, .29);
	-webkit-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, .3),
		inset 0 0 2px hsla(0, 100%, 100%, .3),
		0 1px 2px hsla(0, 0%, 0%, .29);
}
button.btn-main:hover {
	background: #0073d2;
	background: -moz-linear-gradient(center top, #3e9ee5 20%, #0073d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3e9ee5), color-stop(1, #0073d2));
}
button.btn-main:active {
	border-color: #20559a;
	
	box-shadow: inset 0 0 7px hsla(0, 0%, 0%, .3),
		0 1px 0 hsla(0, 100%, 100%, 1);
	-moz-box-shadow: inset 0 0 7px hsla(0, 0%, 0%, .3),
		0 1px 0 hsla(0, 100%, 100%, 1);
	-webkit-box-shadow: inset 0 0 7px hsla(0, 0%, 0%, .3),
		0 1px 0 hsla(0, 100%, 100%, 1);
}

button.btn-sec {
	padding: 0 20px 3px 20px;
	height: 26px;
	line-height: 26px;
	
	border: 1px solid #b0bac9;
	color: #444;
	background: #cfd9e3;
	background: -moz-linear-gradient(center top, #eef3f5 20%, #cfd9e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #eef3f5), color-stop(1, #cfd9e3));
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px hsla(0, 100%, 100%, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px hsla(0, 100%, 100%, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px hsla(0, 100%, 100%, .3);
}
button.btn-sec:hover {
	background: #cbdff5;
	background: -moz-linear-gradient(center top, #e9f0f3 20%, #cbdff5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #e9f0f3), color-stop(1, #cbdff5));
}
button.btn-sec:active {
	box-shadow: inset 0 0 5px hsla(0, 0%, 0%, .1),
		0 1px 0 hsla(0, 100%, 100%, 1);
	-moz-box-shadow: inset 0 0 5px hsla(0, 0%, 0%, .1),
		0 1px 0 hsla(0, 100%, 100%, 1);
	-webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 0%, .1),
		0 1px 0 hsla(0, 100%, 100%, 1);
}

button.btn-ter {
	padding: 0 5px 3px 5px;
	height: 26px;
	line-height: 26px;
	
	border: 1px solid #aaa;
	color: #555;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .65);
	background: #d5d5d5;
	background: -moz-linear-gradient(center top, #f0f0f0 20%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f0f0f0), color-stop(1, #d5d5d5));
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px rgba(255, 255, 255, .4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px rgba(255, 255, 255, .4);
}
button.btn-ter:hover {
	background: #c8c8c8;
	background: -moz-linear-gradient(center top, #ececec 20%, #c8c8c8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #ececec), color-stop(1, #c8c8c8));
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px rgba(255, 255, 255, .4), 
		-1px 1px 2px rgba(255, 255, 255, .7);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px rgba(255, 255, 255, .4),
		-1px 1px 2px rgba(255, 255, 255, .7);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
		inset 0 0 2px rgba(255, 255, 255, .4),
		-1px 1px 2px rgba(255, 255, 255, .7);
}
button.btn-ter:active {
	border-color: #999;
	
	box-shadow: inset 0 0 5px hsla(0, 0%, 0%, .15),
		0 1px 0 hsla(0, 100%, 100%, 1);
	-moz-box-shadow: inset 0 0 5px hsla(0, 0%, 0%, .15),
		0 1px 0 hsla(0, 100%, 100%, 1);
	-webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 0%, .15),
		0 1px 0 hsla(0, 100%, 100%, 1);
}

button[disabled], button:hover[disabled], button:active[disabled] {
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	color: #aeaeae;
	text-shadow: 0 1px 0 #fff;
	background: #e8e8e8;
	background: -moz-linear-gradient(center top, #f3f3f3 20%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f3f3f3), color-stop(1, #e6e6e6));
	
	box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, .5),
		inset 0 0 2px hsla(0, 100%, 100%, .1),
		0 1px 0 hsla(0, 100%, 100%, .7);
	-moz-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, .5),
		inset 0 0 2px hsla(0, 100%, 100%, .1),
		0 1px 0 hsla(0, 100%, 100%, .7);
	-webkit-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, .5),
		inset 0 0 2px hsla(0, 100%, 100%, .1),
		0 1px 0 hsla(0, 100%, 100%, .7);
}

/*
|---------------------------------------------------------------
| COMMENTS & NOTES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.comment {
	margin: .5em 0;
	
	border: 1px solid #ccc;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.comment .header {
	height: 25px;
	line-height: 24px;
	padding: 0 1em;
	
	background: #ccc url('../images/gradient-50-hard-short.png') repeat-x 0 0;
	font-size: 85%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .65);
	
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
}
.comment .message { padding: 0 1em; }
.comment-add {
	padding: 1em;
	
	background: #f6f6f6;
	border: 1px solid #f0f0f0;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash-message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/flash-bg.png') repeat-x top left;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #c89797; 
	background: #ecc5c5 url('../images/flash-bg.png') repeat-x top left;
	color: #6b0f0e;
}
.flash-info {
	border: 1px solid #97a5c8;
	background: #c5d6ec url('../images/flash-bg.png') repeat-x top left;
	color: #0e2d6b;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #e7e7e7;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.system_warning {
	height: 20px;
	line-height: 19px;
	width: 100%;
	
	background: transparent url('../images/js-disabled.png') repeat-x 0 0;
	color: #111;
	font-weight: bold;
	text-align: center;
}

/*
|---------------------------------------------------------------
| PANEL
|---------------------------------------------------------------
*/
.panel-handle a, .panel-handle a:hover {
	text-decoration: none;
	border: none;
}
.panel-handle a span {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: #777;
	font-weight: bold;
}
.panel-handle a:hover span {
	background: #ccc url('../images/panel-handle-bg.png') repeat-x 0 0;
	color: #555;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

#panel .panel-body {
	background: #555 url('../images/panel-bg.png') repeat-x top left;
	color: #fff;
}

.panel-handle {
	background: #ddd url('../images/panel-handle-bg.png') repeat-x 0 0;
	border-bottom: 1px solid #222;
	text-align: center;
	font-size: 85%;
}

.panel-trigger span { text-align: center; }

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }

#nova-panel {}
	.nova-panel-nav {
		position: relative;
		height: 45px;
		line-height: 40px;
		padding: 0 10px;
		
		background: #eee url('../images/gradient-50-soft-short.png') repeat-x 0 0;
		border: 1px solid #d8d8d8;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
		
		border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px;
	}
	.nova-panel-nav h1 {
		line-height: 28px;
		
		font-size: 150%;
	}
		.nova-panel-nav-links {
			position: relative;
			float: right;
			height: 45px;
			line-height: 40px;
			
			font-size: 90%;
			font-weight: bold;
		}
		.nova-panel-nav-links ul {
			margin: 0;
			padding: 0;
			height: 45px;
			
			list-style: none;
		}
		.nova-panel-nav-links ul li {
			float: left;
			margin: 0 0 0 15px;
			display: block;
			line-height: 45px;
		}
		.nova-panel-nav-links ul li a {}
		.nova-panel-nav-links ul li a span {}
	.nova-panel-content {
		position: relative;
		padding: .5em 1em;
		
		background: #f8f8f8;
		border: 1px solid #d8d8d8;
		border-top: 0;
		
		border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 3px;
	}
	
.search-item:hover { cursor: pointer; }
.search-item-cancel {
	text-decoration: line-through;
	opacity: .5;
}

.search-field {
	width: 400px;
	height: 24px;
	line-height: 24px;
	padding: 1px;
	
	border: 1px solid #d8d8d8;
	background: #fff;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .55), inset 0 0 3px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .55), inset 0 0 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .55), inset 0 0 3px rgba(0, 0, 0, .15);
}
.search-field-input, .search-field-input:hover, .search-field-input:focus {
	display: inline-block;
	height: 20px !important;
	padding: 0 !important;
	margin: 0 !important;
	
	border: 1px solid transparent !important;
	color: #777 !important;
}
.search-field-options {
	float: left;
	display: block;
	padding: 0 0 0 15px;
	height: 24px;
	width: 20px;
}
.search-field-options:hover { cursor: pointer; }

.options-posts { background: transparent url('../images/icon-posts.png') no-repeat center center; }
.options-logs { background: transparent url('../images/icon-logs.png') no-repeat center center; }
.options-news { background: transparent url('../images/icon-news.png') no-repeat center center; }
.options-wiki { background: transparent url('../images/icon-wiki.png') no-repeat center center; }

.search-field-options-list {
	position: absolute;
	top: 270px;
	
	width: 150px;
	padding: .5em 0;
	
	border: 1px solid #ccc;
	background: #eee;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.search-field-options-list ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.search-field-options-list ul li {
	height: 22px;
	line-height: 22px;
}
.search-field-options-list ul li a {
	display: block;
	
	font-weight: bold;
	font-size: 90%;
	color: #777;
	border: 1px solid transparent;
	border-left: 0;
	border-right: 0;
}
.search-field-options-list ul li a:hover {
	background: #237fd7;
	background: -moz-linear-gradient(center top, #52a8e8 20%, #237fd7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #237fd7));
	color: #eee;
	border-color: #4081af;
}

.options-list-item {
	height: 21px;
	width: 20px;
	margin: 0 8px 0 4px;
	float: left;
}