body {
	font: 85%/1.6 helvetica, arial, sans-serif;
	color: #444;
	background: #fcfcfc;
	text-rendering: optimizeLegibility;
}

.container-fluid {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 45px;
}
.container-fluid > .sidebar {
	left: 45px;
	width: 180px;
}
.container-fluid > .content {
	margin-left: 200px;
}

.wrapper {
	max-width: 1280px;
	min-width: 950px;
	margin: 0 auto;
	padding: 0 45px;
}

header {
	height: 75px;
	margin: 0 0 2em 0;
	background: #f1f1f1;
	border-bottom: 1px solid #e4e4e4;
}
header ul {
	margin: 0;
	padding: 0;
	height: 75px;
	list-style: none;
}
header ul li a {
	display: block;
	margin: 0 30px 0 0;
	float: left;
	line-height: 75px;
	text-decoration: none;
	font-size: 140%;
	font-weight: bold;
	color: #999;
}
header ul li a:hover { color: #333; }
header ul li a.active {
	padding: 1px 0 0 0;
	background: transparent url(images/main/nav-main-active.png) no-repeat center bottom;
	color: #333;
}

#panel, .panel-handle { display: none; }

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar ul li a {
	display: block;
	padding: 3px 5px;
	color: #999;
	text-decoration: none;
	border: 1px solid transparent;
	font-size: 1.1em;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}
.sidebar ul li a:hover {
	color: #666;
	background: #f5f5f5;
	border-color: #e5e5e5;
}

footer {
	margin: 2em 0 1em 200px;
	padding: 0;
	font-size: .85em;
	color: #999;
	border-top: none;
}
footer a { color: #999; }
footer a:hover { color: #666; }
footer .footer-extra {
	margin: 1em 0;
	color: #666;
	font-weight: bold;
}

h1, h2, h3, h4 {
	margin: 0 0 10px 0;
}

h1 {
	margin: 0 0 10px 0;
	color: #dd4b39;
}
h2 { color: #666; }

p, li {
	font-size: 1em;
	line-height: 1.6;
}

.fontLarge	{ font-size: 133%; }
.fontMedium	{ font-size: 117%; }
.fontNormal { font-size: 100%; }
.fontSmall	{ font-size: 92%; }
.fontTiny	{ font-size: 80%; }

/*.subtle, .info { color: #999; }
.error { color: #c00; }
.warning { color: #e99e1c; }
.success { color: #008000; }*/

a {
	outline: 0;
	color: #1e5799;
}
a:hover { color: #666; }
a.image, a.image:hover {
	border: none;
	text-decoration: none;
}

kbd {
	display: block;
	margin: 0 0 8px 0;
	font: bold 120% helvetica, arial, sans-serif;
	color: #444;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
	margin: 0;
	padding: 7px;
	width: 350px;
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #a8a8a8;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	font-size: 110%;
	font-family: helvetica, arial, sans-serif;
	color: #888;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	-webkit-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select:hover,
textarea:focus {
	outline: 0;
	border-bottom: 1px solid #008bda;
	border-top: 1px solid #008bda;
	border-left: 1px solid #008edc;
	border-right: 1px solid #008edc;
	background: #fff;
	color: #555;
	-moz-box-shadow: 0 0 3px #a7cef3;
	-webkit-box-shadow: 0 0 3px #a7cef3;
	box-shadow: 0 0 3px #a7cef3;
}

textarea { width: 99%; }

.btn {
	padding: 7px 30px;
	font: bold 13px/1.6 helvetica, arial, sans-serif;
}
.btn,
.label,
.alert-message {
	border: 1px solid #b0b0b0;
	color: #979797;
	text-shadow: 0 1px 0 #fff;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top, #fafafa 0%,#e2e2e2 100%);
	background: -o-linear-gradient(top, #fafafa 0%,#e2e2e2 100%);
	background: -ms-linear-gradient(top, #fafafa 0%,#e2e2e2 100%);
	background: linear-gradient(top, #fafafa 0%,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e2e2e2',GradientType=0 );
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}
.btn:hover {
	border-color: #bcbcbc;
	color: #878787;
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 0%, #e9e9e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e9e9e9));
	background: -webkit-linear-gradient(top, #fbfbfb 0%,#e9e9e9 100%);
	background: -o-linear-gradient(top, #fbfbfb 0%,#e9e9e9 100%);
	background: -ms-linear-gradient(top, #fbfbfb 0%,#e9e9e9 100%);
	background: linear-gradient(top, #fbfbfb 0%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e9e9e9',GradientType=0 );
}

.btn.primary {
	border-color: #0a2c4d;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	background: #3589d9;
	background: -moz-linear-gradient(top, #3589d9 0%, #2468ab 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3589d9), color-stop(100%,#2468ab));
	background: -webkit-linear-gradient(top, #3589d9 0%,#2468ab 100%);
	background: -o-linear-gradient(top, #3589d9 0%,#2468ab 100%);
	background: -ms-linear-gradient(top, #3589d9 0%,#2468ab 100%);
	background: linear-gradient(top, #3589d9 0%,#2468ab 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3589d9', endColorstr='#2468ab',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}
.btn.primary:hover {
	border-color: #103660;
	background: #2d75b9;
	background: -moz-linear-gradient(top, #2d75b9 0%, #1f5992 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d75b9), color-stop(100%,#1f5992));
	background: -webkit-linear-gradient(top, #2d75b9 0%,#1f5992 100%);
	background: -o-linear-gradient(top, #2d75b9 0%,#1f5992 100%);
	background: -ms-linear-gradient(top, #2d75b9 0%,#1f5992 100%);
	background: linear-gradient(top, #2d75b9 0%,#1f5992 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d75b9', endColorstr='#1f5992',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
}

.btn.danger,
.alert-message.danger,
.label.important {
	border-color: #a40006;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	background: #ed0114;
	background: -moz-linear-gradient(top, #ed0114 0%, #cb0010 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed0114), color-stop(100%,#cb0010));
	background: -webkit-linear-gradient(top, #ed0114 0%,#cb0010 100%);
	background: -o-linear-gradient(top, #ed0114 0%,#cb0010 100%);
	background: -ms-linear-gradient(top, #ed0114 0%,#cb0010 100%);
	background: linear-gradient(top, #ed0114 0%,#cb0010 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0114', endColorstr='#cb0010',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}
.btn.danger:hover {
	border-color: #cf0404;
	background: #ff3019;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: linear-gradient(top, #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}

.btn.success,
.alert-message.success,
.label.success {
	border-color: #296f10;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	background: #58bd24;
	background: -moz-linear-gradient(top, #58bd24 0%, #299a0b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58bd24), color-stop(100%,#299a0b));
	background: -webkit-linear-gradient(top, #58bd24 0%,#299a0b 100%);
	background: -o-linear-gradient(top, #58bd24 0%,#299a0b 100%);
	background: -ms-linear-gradient(top, #58bd24 0%,#299a0b 100%);
	background: linear-gradient(top, #58bd24 0%,#299a0b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58bd24', endColorstr='#299a0b',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .35);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .35);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .35);
}
.btn.success:hover {
	border-color: #2e9d0e;
	background: #7eda38;
	background: -moz-linear-gradient(top, #7eda38 0%, #3ca815 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7eda38), color-stop(100%,#3ca815));
	background: -webkit-linear-gradient(top, #7eda38 0%,#3ca815 100%);
	background: -o-linear-gradient(top, #7eda38 0%,#3ca815 100%);
	background: -ms-linear-gradient(top, #7eda38 0%,#3ca815 100%);
	background: linear-gradient(top, #7eda38 0%,#3ca815 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eda38', endColorstr='#3ca815',GradientType=0 );
}

.btn.info,
.alert-message.info,
.alert-message.info:hover,
.label.warning {
	border-color: #cc912d;
	color: #996633;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .35);
	background: #fee086;
	background: -moz-linear-gradient(top, #fee086 0%, #ffc338 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee086), color-stop(100%,#ffc338));
	background: -webkit-linear-gradient(top, #fee086 0%,#ffc338 100%);
	background: -o-linear-gradient(top, #fee086 0%,#ffc338 100%);
	background: -ms-linear-gradient(top, #fee086 0%,#ffc338 100%);
	background: linear-gradient(top, #fee086 0%,#ffc338 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee086', endColorstr='#ffc338',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
}
.btn.info:hover {
	border-color: #d4a14c;
	color: #996633;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background: #fee59a;
	background: -moz-linear-gradient(top, #fee59a 0%, #ffcb53 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee59a), color-stop(100%,#ffcb53));
	background: -webkit-linear-gradient(top, #fee59a 0%,#ffcb53 100%);
	background: -o-linear-gradient(top, #fee59a 0%,#ffcb53 100%);
	background: -ms-linear-gradient(top, #fee59a 0%,#ffcb53 100%);
	background: linear-gradient(top, #fee59a 0%,#ffcb53 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee59a', endColorstr='#ffcb53',GradientType=0 );
}
.btn.large {
	padding: 10px 40px;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}
.btn.small {
	padding: 5px 8px;
}
.btn.mini {
	padding: 2px;
	font-size: 9px;
}

.alert-message {
	padding: 7px;
}
.label {
	padding: 3px 3px 2px 3px;
	color: #777;
}
.close {
	font-size: 16px;
}

.pagination {
	height: 27px;
}
.pagination ul {
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0 0 0 0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
.pagination a {
	margin: 0 5px 0 0;
	padding: 0 10px;
	line-height: 25px;
	border: 1px solid #c9c9c9;
	color: #717171;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: 0 1px 2px #dfdfdf;
	-webkit-box-shadow: 0 1px 2px #dfdfdf;
	box-shadow: 0 1px 2px #dfdfdf;
}
.pagination a:hover,
.pagination .next a:hover,
.pagination .prev a:hover {
	background: #fff;
	-moz-box-shadow: 0 1px 2px #dfdfdf;
	-webkit-box-shadow: 0 1px 2px #dfdfdf;
	box-shadow: 0 1px 2px #dfdfdf;
}
.pagination .active a {
	color: #fff;
	background: #5f5f5f;
	border-color: #5f5f5f;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .4), 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .4), 0 1px 0 #fff;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .4), 0 1px 0 #fff;
}
.pagination .next a {
	border: 1px solid #c9c9c9;
}

/**
 * Table columns.
 */
.col-5		{ width: 5px; }
.col-10		{ width: 10px; }
.col-15		{ width: 15px; }
.col-20		{ width: 20px; }
.col-30		{ width: 30px; }
.col-40		{ width: 40px; }
.col-50		{ width: 50px; }
.col-75		{ width: 75px; }
.col-100	{ width: 100px; }
.col-150	{ width: 150px; }
.col-200	{ width: 200px; }
.col-245	{ width: 245px; }
.col-260	{ width: 260px; }
.col-300	{ width: 300px; }

.col-20pct	{ width: 20%; }
.col-25pct	{ width: 25%; }
.col-30pct	{ width: 30%; }
.col-40pct	{ width: 40%; }
.col-50pct	{ width: 50%; }
.col-60pct	{ width: 60%; }

/**
 * List items.
 */
li {
	color: #444;
}

.hidden {
	display: none;
	height: auto;
}

img { border: none; }

hr {
	width: 75%;
	margin: 2em auto;
	border-top: 1px solid #ccc;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.indent-left { padding: 0 0 0 1.5em; }
.indent-right { padding: 0 1.5em 0 0; }

.inline-image-left {
    float: left;
    margin: 2px 6px 0 0;
}

.float-left		{ float: left; }
.float-right	{ float: right; }

.clear-both		{ clear: both; }
.clear-right	{ clear: right; }
.clear-left		{ clear: left; }

.align-left		{ text-align: left; }
.align-right	{ text-align: right; }
.align-center	{ text-align: center; }
.align-top		{ vertical-align: top; }
.align-middle	{ vertical-align: middle; }
.align-bottom	{ vertical-align: bottom; }

.callout {
	padding: 1em;
	background: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .15);
}

.search-item:hover { cursor: pointer; }
.search-item-cancel {
	text-decoration: line-through;
	opacity: .5;
}
.search-field {
	width: 400px;
	height: 24px;
	line-height: 24px;
	padding: 1px;
	
	border: 1px solid #bbb;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.search-field-input, .search-field-input:hover, .search-field-input:focus {
	display: inline-block;
	height: 20px !important;
	padding: 0 !important;
	margin: 0 !important;
	
	border: 1px solid transparent !important;
	background: transparent !important;
	color: #444 !important;
}
.search-field-options {
	float: left;
	display: block;
	padding: 0 0 0 3px;
	height: 24px;
	width: 20px;
}
.search-field-options:hover { cursor: pointer; }

.options-posts { background: transparent url('../images/icon-posts.png') no-repeat center center; }
.options-logs { background: transparent url('../images/icon-logs.png') no-repeat center center; }
.options-news { background: transparent url('../images/icon-news.png') no-repeat center center; }
.options-wiki { background: transparent url('../images/icon-wiki.png') no-repeat center center; }

.search-field-options-list {
	position: absolute;
	top: 372px;
	width: 150px;
	margin: 0 0 0 3px;
	padding: .5em 0;
	
	border: 1px solid #bbb;
	background: #eee;
	
	border-radius: 3px;
	-moz-border-radius: 0 0 3px 3px;
	
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.search-field-options-list ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.search-field-options-list ul li {
	height: 22px;
	line-height: 22px;
}
.search-field-options-list ul li a {
	display: block;
	padding: 0 4px;
	
	font-weight: bold;
	font-size: 90%;
	color: #888;
	border: 1px solid transparent;
	border-left: 0;
	border-right: 0;
	text-decoration: none;
}
.search-field-options-list ul li a:hover {
	background: #237fd7;
	background: -moz-linear-gradient(center top, #52a8e8 20%, #237fd7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #237fd7));
	color: #eee;
	border-color: #4081af;
}