.wrapper { width: 600px; }

#content { margin-left: 0; }

footer { margin: 2em 0 1em 0; }

input[type=password]:focus {
	background-image: url(images/login/glyph-password.png);
	background-repeat: no-repeat;
	background-position: center right;
}
input[type=email]:focus {
	background-image: url(images/login/glyph-email.png);
	background-repeat: no-repeat;
	background-position: center right;
}
input[type=text]:focus {
	background-image: url(images/login/glyph-text.png);
	background-repeat: no-repeat;
	background-position: center right;
}