.wrapper { width: 600px; }

#content { margin-left: 0; }

footer { margin: 2em 0 1em 0; }

input[type=text],
input[type=password],
input[type=email],
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
	background: none;
	border: 1px solid transparent;
	-moz-box-shadow: inset 0 0 0 transparent;
	-webkit-box-shadow: inset 0 0 0 transparent;
	box-shadow: inset 0 0 0 transparent;
}

.login-control-container {
	margin: 0;
	padding: 5px;
	width: 450px;
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #a8a8a8;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
	background: linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	-moz-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	-webkit-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
}

.login-control-submit,
.login-control-reset {
	float: right;
	width: 30px;
	height: 32px;
	padding: 0;
	border: none;
	cursor: pointer;
}
.login-control-reset { background: transparent url(images/login/login-control-reset.png) no-repeat right center; }
.login-control-submit { background: transparent url(images/login/login-control-submit.png) no-repeat right center; }