/**
 * Eric Meyer's CSS Reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
	font: 85%/1.6 helvetica, arial, sans-serif;
	color: #333;
	background: #f2f2f2;
}

/**
 * Styles for the header
 */
header {
	width: 780px;
	height: 50px;
	margin: 0 auto;
	
	background: #e2e2e2;
	
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
}
.name {
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 10px;
	
	font-size: 150%;
	font-weight: bold;
}

/**
 * Styles for the navigation
 */
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0 10px 0 0;
	height: 50px;
	line-height: 46px;
	
	list-style: none;
}
nav ul li {
	display: inline;
	height: 50px;
	line-height: 46px;
	margin: 0 0 0 15px;
}
nav ul li a {
	color: #999;
	text-decoration: none;
	font-size: 110%;
	font-weight: bold;
}
nav ul li a:hover { color: #666; }

/**
 * Styles for the main content section of the log in template
 */
section {
	width: 760px;
	margin: 1em auto;
}

/**
 * Styles for the log in footer
 */
footer {
	text-align: center;
	font-size: 90%;
	color: #999;
}
footer a { color: #999; }
footer a:hover { color: #666; }

/**
 * Styles for all the fonts in the system
 */
h1, h2, h3, h4 { font-weight: bold; }
h1, h2, h3, h4, p { margin: 8px 0; }

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 133%; }
h4 { font-size: 117%; }
p { font-size: 100%; }

.fontLarge	{ font-size: 133%; }
.fontMedium	{ font-size: 117%; }
.fontNormal { font-size: 100%; }
.fontSmall	{ font-size: 92%; }
.fontTiny	{ font-size: 80%; }

.subtle, .info { color: #888; }
.error { color: #c00; }
.warning { color: #e99e1c; }
.success { color: #008000; }

/**
 * Styles for links
 */
a { color: #1e5799; }
a:hover { color: #666; }

/**
 * Miscellaneous styles
 */
hr {
	width: 75%;
	margin: 2em auto;
	
	border-top: 1px solid #ccc;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

/**
 * Styles for flash messages
 */
.flash-message {
	margin: 0 0 5px 0;
	line-height: 1;
	
	font-weight: bold;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.flash-success {
	background: #008000;
	color: #fff;
}
.flash-error {
	background: #c00;
	color: #fff;
}
.flash-info {
	background: #1e5799;
	color: #fff;
}

/**
 * Styles for buttons
 */
.btn-main {
	outline: 0;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	border: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 6px 40px;
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	color: #fff;
	text-shadow: 0 -1px 1px #3275bc;
	background: #3b88d8;
	background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
	-webkit-background-clip: padding-box;
	box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-moz-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
}
.btn-main:hover {
	background: #2a81d7;
	background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	text-shadow: 0 -1px 1px #1d62ab;
	cursor: pointer;
	box-shadow: inset 0 1px 0 0 #62b1e9;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
}
.btn-main:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	text-shadow: 0 -1px 1px #2361a4;
	box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
}

/**
 * Styles for the forms in the system
 */
kbd {
	display: block;
	margin: 0 0 5px 0;
	
	font: bold 115% helvetica, arial, sans-serif;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
	margin: 5px 25px 0 0;
	padding: 6px;
	width: 300px;
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #a8a8a8;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
	background: linear-gradient(top, #fefefe 0%,#f3f3f3 100%);
	font-size: 110%;
	font-family: helvetica, arial, sans-serif;
	color: #888;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	-moz-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
	-webkit-box-shadow: inset 0 1px 1px #e3e3e3, 0 1px 0 #f6f6f6;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select:hover,
textarea:focus {
	border-bottom: 1px solid #008bda;
	border-top: 1px solid #008bda;
	border-left: 1px solid #008edc;
	border-right: 1px solid #008edc;
	background: #fff;
	color: #555;
	box-shadow: 0 0 3px #a7cef3;
	-moz-box-shadow: 0 0 3px #a7cef3;
	-webkit-box-shadow: 0 0 3px #a7cef3;
}

textarea { width: 99%; }

select:focus,
select:hover { outline: 0; }

.small { width: 75px; }
.medium { width: 150px; }
.medium-large { width: 250px; }