/*
|---------------------------------------------------------------
| MASTER BODY
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #fff;
	color: #444;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER
|---------------------------------------------------------------
| The wrapper controls the width and centering of the layout
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD
|---------------------------------------------------------------
*/
#head {
	margin: 0;
	padding: 0;
	height: 80px;
	
	background: #222 url('../images/head-bg.png') repeat-x top left;
	color: #eee;
}
#head .head_top {
	height: 6px;
	
	background: #000;
	border-bottom: 1px solid #555;
}
#head .head_content {
	margin: 12px 0 0 0;
	
	font-weight: bold;
}

/*
|---------------------------------------------------------------
| MENUS
|---------------------------------------------------------------
*/
#menu {
	height: 30px;
	line-height: 30px;
	
	background: #dedede url('../images/menu-bg.png') repeat-x top left;
	border-bottom: 1px solid #aaa;
	font-size: 100%;
}
#menu .nav-main {}
#menu .nav-main ul {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}
#menu .nav-main ul li {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}
#menu .nav-main ul li a {
	display: block;
	
	text-decoration: none;
	color: #444;
	font-weight: bold;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: none;
}
#menu .nav-main ul li a span { padding: 12px; }
#menu .nav-main ul li a:hover,
#menu .nav-main ul li a.active {
	background: #b2b2b2 url('../images/menu-bg-active.png') repeat-x top left;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

/*
|---------------------------------------------------------------
| CONTENT
|---------------------------------------------------------------
*/
#body { margin: 1em 0 2em 0; }

.nav-sub {
	float: right;
	width: 160px;
	margin: 0 0 10px 0;
	
	text-align: right;
	background: #f8f8f8;
	font-size: 92%;
	border: 1px solid #d8d8d8;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.nav-sub ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.nav-sub ul li {
	padding: 0;
	margin: 0;
	line-height: 2;
}
.nav-sub ul li a {
	display: block;
	
	text-decoration: none;
	color: #444;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}
.nav-sub ul li a:hover {
	color: #c77405;
	background: #fdf5ce;
	border-top: 1px solid #fbcb09;
	border-bottom: 1px solid #fbcb09;
}
.nav-sub ul li:first-child a:hover {
	border-top: 1px solid transparent;
	
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}
.nav-sub ul li:last-child a:hover {
	border-bottom: 1px solid transparent;
	
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}
.nav-sub ul li a span { padding: 2px 7px; }
.nav-sub ul li.spacer {
	height: 12px;
	
	border: none;
}

.content {
	width: 760px;
	margin-right: 175px;
	padding-left: 5px;
	line-height: 1.4;
}

/*
|---------------------------------------------------------------
| FOOTER
|---------------------------------------------------------------
*/
#footer {
	padding: 1.5em 0;
	clear: both;
	line-height: 1.4;
	width: 960px;
	margin: 2em auto;
	
	text-align: center;
	font-size: 90%;
	color: #888;
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*
|---------------------------------------------------------------
| FONT COLORS
|---------------------------------------------------------------
*/
.page-head 		{ color: #587498; }
.page-subhead	{ color: #5b7444; }

.gray	{ color: #777; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #2e6e9e;
}
a:hover {
	color: #c77405;
	border-bottom: 1px solid;
}

a.edit {
	color: #999;
	border: none;
}
a.edit:hover { color: #008000; }

/*
|---------------------------------------------------------------
| INPUTS
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
}

textarea {
	font-size: 100%;
	font-family: "lucida grande", verdana, arial, sans-serif;
	border: 1px solid #d8d8d8;
	color: #777;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
textarea:focus {
	color: #444;
	border: 1px solid #777;
}

select {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

.cell-label {
	font-weight: bold;
	font-size: 100%;
	text-align: right;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/
tr.alt td, .alt { background-color: #eee; }
tr.light_gray { background-color: #ddd; }

th {
	text-align: center;
	font-size: 120%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	font-weight: bold;
}

button.button-main {
	border: 1px solid #adc0d0;
	background: #dfeffc url('../images/button-bg.png') repeat-x top left;
	color: #2e6e9e;
}
button.button-main:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/button-bg-hover.png') repeat-x top left;
	color: #c77405;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

button.button-sec {
	border: 1px solid #ccc;
	background: #eee url('../images/button-bg.png') repeat-x top left;
	color: #777;
}
button.button-sec:hover {
	border: 1px solid #aaa;
	background: #ddd url('../images/button-bg-hover.png') repeat-x top left;
}

button.button-small {
	border: 1px solid #ccc;
	background: #fff url('../images/button-bg.png') repeat-x top left;
	color: #777;
	font-weight: normal !important;
	font-size: 90%;
}
button.button-small:hover { border: 1px solid #aaa; }

input.button-main {
	border: 1px solid #adc0d0;
	background: #dfeffc url('../images/button-bg.png') repeat-x top left;
	color: #2e6e9e;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	border: 1px solid #fbcb09;
	background: #fdf5ce url('../images/button-bg-hover.png') repeat-x top left;
	color: #c77405;
}

input.button-sec {
	border: 1px solid #ccc;
	background: #eee url('../images/button-bg.png') repeat-x top left;
	color: #777;
	font-weight: bold;
	font-size: 120%;
}
input.button-sec:hover {
	border: 1px solid #aaa;
	background: #ddd url('../images/button-bg-hover.png') repeat-x top left;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	border: 1px solid #adc0d0;
	background: #dfeffc url('../images/button-bg.png') repeat-x top left;
	color: #2e6e9e;
}

/*
|---------------------------------------------------------------
| COMMENTS & NOTES
|---------------------------------------------------------------
*/
#comments p, #news_blocks p, .post_info {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ol.roman { list-style: upper-roman; }
ul.none, ol.none { list-style: none; }

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/flash-bg.png') repeat-x top left;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #c89797; 
	background: #ecc5c5 url('../images/flash-bg.png') repeat-x top left;
	color: #6b0f0e;
}
.flash-info {
	border: 1px solid #97a5c8;
	background: #c5d6ec url('../images/flash-bg.png') repeat-x top left;
	color: #0e2d6b;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.system_warning {
	height: 20px;
	line-height: 19px;
	width: 100%;
	
	background: transparent url('../images/js-disabled.png') repeat-x 0 0;
	color: #111;
	font-weight: bold;
	text-align: center;
}

/*
|---------------------------------------------------------------
| PANEL
|---------------------------------------------------------------
*/
.panel-handle a, .panel-handle a:hover {
	text-decoration: none;
	border: none;
}
.panel-handle a span {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: #777;
	font-weight: bold;
}
.panel-handle a:hover span {
	background: #ccc url('../images/panel-handle-bg.png') repeat-x 0 0;
	color: #555;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

#panel .panel-body {
	background: #555 url('../images/panel-bg.png') repeat-x top left;
	color: #fff;
}

.panel-handle {
	background: #ddd url('../images/panel-handle-bg.png') repeat-x 0 0;
	border-bottom: 1px solid #222;
	text-align: center;
	font-size: 85%;
}

.panel-trigger span { text-align: center; }

.panel_1 a, .panel_2 a, .panel_3 a {
	color: #fff;
	border-bottom: 1px solid;
}

.panel_1 a.edit, .panel_2 a.edit, .panel_3 a.edit {
	color: #999;
	border-bottom: 0;
	font-weight: bold;
}
.panel_1 a.edit:hover, .panel_2 a.edit:hover, .panel_3 a.edit:hover { color: #ddd; }