:root {
    --primary-100: 110, 18%, 93%;
    --primary-200: 105, 18%, 87%;
    --primary-300: 106, 17%, 80%;
    --primary-400: 104, 17%, 73%;
    --primary-500: 106, 17%, 66%;
    --primary-600: 104, 10%, 53%;
    --primary-700: 106, 8%, 40%;
    --primary-800: 105, 9%, 27%;
    --primary-900: 110, 9%, 13%;

    --success-100: 149, 80%, 90%;
    --success-200: 152, 76%, 80%;
    --success-300: 156, 72%, 67%;
    --success-400: 158, 64%, 52%;
    --success-500: 160, 84%, 39%;
    --success-600: 161, 94%, 30%;
    --success-700: 163, 94%, 24%;
    --success-800: 163, 88%, 20%;
    --success-900: 164, 86%, 16%;

    --danger-100: 356, 100%, 95%;
    --danger-200: 353, 96%, 90%;
    --danger-300: 353, 96%, 82%;
    --danger-400: 351, 95%, 71%;
    --danger-500: 350, 89%, 60%;
    --danger-600: 347, 77%, 50%;
    --danger-700: 345, 83%, 41%;
    --danger-800: 343, 80%, 35%;
    --danger-900: 342, 75%, 30%;

    --info-100: 204, 94%, 94%;
    --info-200: 201, 94%, 86%;
    --info-300: 199, 95%, 74%;
    --info-400: 198, 93%, 60%;
    --info-500: 199, 89%, 48%;
    --info-600: 200, 98%, 39%;
    --info-700: 201, 96%, 32%;
    --info-800: 201, 90%, 27%;
    --info-900: 202, 80%, 24%;

    --warning-100: 48, 100%, 96%;
    --warning-200: 48, 96%, 89%;
    --warning-300: 48, 97%, 77%;
    --warning-400: 46, 97%, 65%;
    --warning-500: 43, 96%, 56%;
    --warning-600: 38, 92%, 50%;
    --warning-700: 32, 95%, 44%;
    --warning-800: 26, 90%, 37%;
    --warning-900: 23, 83%, 31%;
}