/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
.upload-close {
	color: #c00 important;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.upload-close:hover {
	background: #c00 !important;
	color: #fff !important;
}

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/
ul.square { list-style: square; }
ol.roman { list-style: upper-roman; }
ul.none, ol.none { @apply list-none; }

#list-grid { list-style-type: none; }

#list li, #list-grid li {
	font-weight: bold;
	font-size: 90%;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/
hr {
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

.loader { text-align: center; }

.alt { background-color: #f3f3f3; }

.activity-border { border-right: 1px solid #ddd; }

strong { font-weight: bold; }
em { font-style: italic; }

/*
|---------------------------------------------------------------
| ACP PANEL STYLES
|---------------------------------------------------------------
*/
table.acp {
	font-size: 110%;
	border: 1px solid #ccc;
}
.col1 {
	font-size: 125%;
	text-align: right;
	font-weight: bold;
}
.col2 {
	font-size: 90%;
	font-weight: bold;
}