/*
|---------------------------------------------------------------
| MASTER BODY STYLES
|---------------------------------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	
	background: #fafafa;
	color: #363636;
	font: 75%/1.5 "lucida grande", verdana, arial, sans-serif;
	text-align: center;
}

/*
|---------------------------------------------------------------
| WRAPPER STYLES
|---------------------------------------------------------------
| The wrapper controls the width and centering of the layout
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	
	text-align: left;
}

/*
|---------------------------------------------------------------
| HEAD STYLES
|---------------------------------------------------------------
|
| The head layer
*/
#head {
	margin: 0 0 2em 0;
	padding: 0;
	height: 45px;
	line-height: 45px;
	
	background: #216e9a;
	color: #eee;
	font-weight: bold;
	font-size: 150%;
	border-bottom: 1px solid #111;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.logo {
	float: right;
	padding: 13px 0 0 0;
	line-height: 1 !important;
}

/*
|---------------------------------------------------------------
| BODY STYLES
|---------------------------------------------------------------
*/
#body { text-align: left; }

.content {
	line-height: 1.4;
	padding: 1em 0;
	width: 90%;
	margin: 0 auto;
	
	text-align: center;
}

/*
|---------------------------------------------------------------
| FOOTER STYLES
|---------------------------------------------------------------
*/
#footer {
	margin: 2em 0 0 0;
	padding: 2em 0;
	clear: both;
	
	text-align: center;
	font-size: 85%;
	color: #999;
}

/*
|---------------------------------------------------------------
| FONT COLOR CLASSES
|---------------------------------------------------------------
*/
.page-head 		{ color: #eb981e; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #026890;
}
a:hover {
	color: #2e6e9e;
	border-bottom: 1px solid;
}

/*
|---------------------------------------------------------------
| INPUT STYLES
|---------------------------------------------------------------
*/
input[type=text],
input[type=password] {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 100%;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus {
	color: #444;
	border: 1px solid #777;
}

select {
	border: 1px solid #d8d8d8;
	color: #777;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 100%;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
select:focus,
select:hover {
	color: #444;
	border: 1px solid #777;
}

kbd {
	font-weight: bold;
	font-family: "lucida grande", verdana, arial, sans-serif;
	font-size: 110%;
}

/*
|---------------------------------------------------------------
| BUTTONS
|---------------------------------------------------------------
*/
button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	font-weight: bold;
}

button.button-main {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
}
button.button-main:hover {
	background: #d0e5f5 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #1d5987;
	border: 1px solid #79b7e7;
}

input.button-main {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
	font-weight: bold;
	font-size: 120%;
}
input.button-main:hover {
	background: #d0e5f5 url('../images/gradient-50-bg.png') repeat-x center left;
	color: #1d5987;
	border: 1px solid #79b7e7;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter:alpha(opacity='70');
	
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
}

/*
|---------------------------------------------------------------
| FLASH MESSAGES
|---------------------------------------------------------------
*/
.flash_message {
	font-weight: bold;
	font-size: .9em;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.flash-success {
	border: 1px solid #a4c897;
	background: #ccecc5 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #376b0e;
}
.flash-error {
	border: 1px solid #cd0a0a; 
	background: #fef1ec url('../images/gradient-30-bg.png') repeat-x center left;
	color: #cd0a0a;
}
.flash-info {
	border: 1px solid #fad42e;
	background: #fbec88 url('../images/gradient-30-bg.png') repeat-x center left;
	color: #363636;
}