html, body {
	background: #eee;
}

/*.navbar-inner {
	border-bottom: 1px solid #cacaca;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #fafafa 0%,#eaeaea 100%);
	background: -o-linear-gradient(top, #fafafa 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #fafafa 0%,#eaeaea 100%);
	background: linear-gradient(top, #fafafa 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 );
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}

.navbar .brand {
	padding: 12px 20px;
	color: #aaa;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.navbar a {
	color: #aaa;
	text-shadow: 0 0 0 transparent;
}

.nav {
	margin-top: 4px;
}

.dropdown-toggle:after {
	border-top: 4px solid #666;
}*/

.dropdown-toggle .label,
.dropdown-menu li a .label {
	font-size: 100%;
	padding: 2px 6px 2px 5px;
}

.label.important {
	/*border: 1px solid #a40006;*/
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
	background: #ed0114;
	background: -moz-linear-gradient(top, #ed0114 0%, #cb0010 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed0114), color-stop(100%,#cb0010));
	background: -webkit-linear-gradient(top, #ed0114 0%,#cb0010 100%);
	background: -o-linear-gradient(top, #ed0114 0%,#cb0010 100%);
	background: -ms-linear-gradient(top, #ed0114 0%,#cb0010 100%);
	background: linear-gradient(top, #ed0114 0%,#cb0010 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0114', endColorstr='#cb0010',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}
.label.warning {
	/*border: 1px solid #cc912d;*/
	color: #996633;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .35);
	background: #fee086;
	background: -moz-linear-gradient(top, #fee086 0%, #ffc338 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee086), color-stop(100%,#ffc338));
	background: -webkit-linear-gradient(top, #fee086 0%,#ffc338 100%);
	background: -o-linear-gradient(top, #fee086 0%,#ffc338 100%);
	background: -ms-linear-gradient(top, #fee086 0%,#ffc338 100%);
	background: linear-gradient(top, #fee086 0%,#ffc338 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee086', endColorstr='#ffc338',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
}

/*.game-name {
	float: left;
	margin: -12px 0;
	padding: 12px 0;
	padding-right: 20px;
	border-right: 1px solid #e0e0e0;
}
.brand a {
	margin: -10px 0;
	padding: 10px 0;
	padding-left: 20px;
	border-left: 1px solid #fff;
}*/

.container .content {
	background-color: #FFFFFF;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	margin: 0 -20px;
	padding: 20px;
}

.page-header {
	background-color: #F5F5F5;
	margin: -20px -20px 20px;
	padding: 20px 20px 10px;
}