/**
 * Eric Meyer's CSS Reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: #666 url(images/admin/body-bg.jpg) repeat top left;
	font: 85%/1.6 "lucida grande", verdana, arial, sans-serif;
}

header {
	position: relative;
	margin: 0 60px;
	height: 80px;
	line-height: 80px;
	color: #52a8e8;
	text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
	font-weight: bold;
	font-size: 200%;
}

section {
	position: relative;
	margin: 10px 60px 25px 60px;
	background: #edebec url(images/admin/section-bg.jpg) repeat top left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
}

#sidebar {
	float: left;
	position: relative;
	width: 120px;
	min-height: 650px;
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
}
#sidebar ul {
	border-bottom: 1px solid #bebebe;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
}
#sidebar ul li {
	text-align: center;
}
#sidebar ul li a {
	position: relative;
	display: block;
	width: 120px;
	padding: 12px 0;
	background: #edebec url(images/admin/section-bg.jpg) repeat top left;
	border-top: 1px solid #bebebe;
	color: #999;
	font-variant: small-caps;
	font-weight: bold;
	text-decoration: none;
	box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
}
#sidebar ul li a:hover { color: #777; }
#sidebar ul li a.active {
	z-index: 2000;
	color: #237fd7;
	background: #f5f5f5;
}

#sidebar ul li:first-child,
#sidebar ul li:first-child a {
	border-top: none;
	border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	box-shadow: inset 0 1px 0 transparent;
	-moz-box-shadow: inset 0 1px 0 transparent;
	-webkit-box-shadow: inset 0 1px 0 transparent;
}

.navicn {
	display: block;
	height: 30px;
	width: 120px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center 0;
}
a:hover .navicn { background-position: center -30px; }
a.active .navicn { background-position: center -60px; }

.navicn-admin { background-image: url(images/admin/nav-admin.png); }
.navicn-write { background-image: url(images/admin/nav-write.png); }
.navicn-messages { background-image: url(images/admin/nav-messages.png); }
.navicn-site { background-image: url(images/admin/nav-site.png); }
.navicn-manage { background-image: url(images/admin/nav-manage.png); }
.navicn-characters { background-image: url(images/admin/nav-characters.png); }
.navicn-users { background-image: url(images/admin/nav-users.png); }
.navicn-reports { background-image: url(images/admin/nav-reports.png); }

#subnav-popup {
	top: 0;
	left: 130px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
#section-nav {
	top: 55px;
	right: 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
#subnav-popup, #section-nav {
	display: none;
	position: absolute;
	z-index: 2000;
	width: 200px;
	padding: 5px 0;
	border: 1px solid #999;
	font-size: 80%;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
#subnav-popup a, #section-nav a {
	display: block;
	padding: 2px 10px;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
#subnav-popup a:hover, #section-nav a:hover {
	background: #52a8e8;
	background: -moz-linear-gradient(top, #52a8e8 0%, #237fd7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a8e8), color-stop(100%,#237fd7));
	background: -webkit-linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	background: -o-linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	background: -ms-linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#237fd7',GradientType=0 );
	background: linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	color: #fff;
	border-color: #4081af;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

#content {
	position: relative;
	min-height: 650px;
	margin-left: 110px;
	border-color: transparent;
	border-width: 0 0 0 10px;
	-moz-border-image: url(images/admin/shadow.png) 0 0 0 10 stretch;
	-webkit-border-image: url(images/admin/shadow.png) 0 0 0 10 stretch;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
}
#content .inner {
	min-height: 650px;
	padding: 10px 15px;
	background: #f5f5f5;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
}

#section-nav-trigger {
	float: right;
	margin: 10px 0 0 0;
	padding: 2px 10px;
	border: 1px solid #9eaaae;
	color: #666e71;
	font-size: 80%;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background: #e3eaed;
	background: -moz-linear-gradient(top, #e3eaed 0%, #c8d7dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3eaed), color-stop(100%,#c8d7dc));
	background: -webkit-linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	background: -o-linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	background: -ms-linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaed', endColorstr='#c8d7dc',GradientType=0 );
	background: linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #fff;
}
#section-nav-trigger:hover {
	cursor: pointer;
	background: #d6dde0;
	background: -moz-linear-gradient(top, #d6dde0 0%, #bbc9ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6dde0), color-stop(100%,#bbc9ce));
	background: -webkit-linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
	background: -o-linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
	background: -ms-linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dde0', endColorstr='#bbc9ce',GradientType=0 );
	background: linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
}
#section-nav-trigger .arrow {
	float: right;
	display: block;
	height: 6px;
	width: 10px;
	margin: 7px 0 0 8px;
	background: transparent url(images/admin/section-nav-trigger-arrow.png) no-repeat center center;
}

h1 {
	font-size: 200%;
	color: #555;
}

footer {
	position: relative;
	padding: 0 0 2em 0;
	text-align: center;
	font-size: 80%;
	font-weight: bold;
	color: #888;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
}