body {
	background: #d3d3d3 url(images/admin/body-bg.jpg) repeat top left;
}

header { border-color: #ccc; }
header h1 { line-height: 75px; }

section {
	position: relative;
	margin: 1em auto;
	background: #f5f5f5;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
}

#navbar {
	position: relative;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #cbcbcb;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}
#navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navbar ul li {
	float: left;
	width: 12.5%;
	text-align: center;
}
#navbar ul li a {
	position: relative;
	display: block;
	padding: 8px 0;
	border-right: 1px solid #cbcbcb;
	color: #999;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#e3e3e3 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#e3e3e3 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e3e3e3',GradientType=0 );
	background: linear-gradient(top, #eeeeee 0%,#e3e3e3 100%);
}
#navbar ul li a:hover { color: #777; }
#navbar ul li a.active {
	z-index: 2000;
	padding-bottom: 9px;
	color: #237fd7;
	border-bottom: none;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
}

#navbar ul li:first-child,
#navbar ul li:first-child a {
	border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
}
#navbar ul li:last-child,
#navbar ul li:last-child a {
	border-right: none;
	border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
}

.navicn {
	display: block;
	height: 30px;
	min-width: 120px;
	max-width: 160px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center 0;
}
a:hover .navicn { background-position: center -30px; }
a.active .navicn { background-position: center -60px; }

.navicn-admin		{ background-image: url(images/admin/nav-admin.png); }
.navicn-write		{ background-image: url(images/admin/nav-write.png); }
.navicn-messages	{ background-image: url(images/admin/nav-messages.png); }
.navicn-site		{ background-image: url(images/admin/nav-site.png); }
.navicn-manage		{ background-image: url(images/admin/nav-manage.png); }
.navicn-characters	{ background-image: url(images/admin/nav-characters.png); }
.navicn-users		{ background-image: url(images/admin/nav-users.png); }
.navicn-reports		{ background-image: url(images/admin/nav-reports.png); }

#subnav-popup {
	top: 0;
	left: 140px;
	border: 2px solid #999 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
#subnav-popup-arrow {
	float: left;
	margin: 0 0 0 -17px;
	height: 32px;
	width: 15px;
	background: transparent url(images/admin/popup-arrow-left.png) no-repeat top left;
}
#subnav-popup-content ul,
#subnav-popup-content ul li,
#section-nav ul,
#section-nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#section-nav {
	top: 45px;
	right: 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
#subnav-popup, #section-nav {
	display: none;
	position: absolute;
	z-index: 2000;
	width: 200px;
	padding: 5px 0;
	border: 1px solid #999;
	font-size: 80%;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
#subnav-popup a, #section-nav a {
	display: block;
	padding: 2px 10px;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
#subnav-popup a:hover, #section-nav a:hover {
	background: #52a8e8;
	background: -moz-linear-gradient(top, #52a8e8 0%, #237fd7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a8e8), color-stop(100%,#237fd7));
	background: -webkit-linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	background: -o-linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	background: -ms-linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a8e8', endColorstr='#237fd7',GradientType=0 );
	background: linear-gradient(top, #52a8e8 0%,#237fd7 100%);
	color: #fff;
	border-color: #4081af;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}
#section-nav-trigger, #section-nav { font-size: 42% !important; }

#content {
	position: relative;
	clear: both;
	margin: 0;
}
#content > .inner {
	margin: 0;
	padding: 1em;
}

#section-nav-trigger {
	float: right;
	margin: 10px 0 0 0;
	padding: 2px 10px;
	border: 1px solid #9eaaae;
	color: #666e71;
	font-size: 80%;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background: #e3eaed;
	background: -moz-linear-gradient(top, #e3eaed 0%, #c8d7dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3eaed), color-stop(100%,#c8d7dc));
	background: -webkit-linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	background: -o-linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	background: -ms-linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaed', endColorstr='#c8d7dc',GradientType=0 );
	background: linear-gradient(top, #e3eaed 0%,#c8d7dc 100%);
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 #fff;
}
#section-nav-trigger:hover {
	cursor: pointer;
	background: #d6dde0;
	background: -moz-linear-gradient(top, #d6dde0 0%, #bbc9ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6dde0), color-stop(100%,#bbc9ce));
	background: -webkit-linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
	background: -o-linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
	background: -ms-linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dde0', endColorstr='#bbc9ce',GradientType=0 );
	background: linear-gradient(top, #d6dde0 0%,#bbc9ce 100%);
}
#section-nav-trigger .arrow {
	float: right;
	display: block;
	height: 6px;
	width: 10px;
	margin: 7px 0 0 8px;
	background: transparent url(images/admin/section-nav-trigger-arrow.png) no-repeat center center;
}

footer {
	margin: 1em 0;
	color: #666;
}

h1 {
	font-size: 200%;
	color: #555;
}
.page-head {
	margin: 0;
	padding: .25em .5em 0 .5em;
	border-bottom: 2px solid #ddd;
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#ececec 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%,#ececec 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ececec',GradientType=0 );
	background: linear-gradient(top, #f5f5f5 0%,#ececec 100%);
}

p { margin: 0 0 14px 0; }

/**
 * Styles for the callouts
 */
.callout {
	padding: 1em;
	margin: 1em 0 2em 0;
	background: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

/**
 * Styles for the inbox
 */
#inbox {
	margin: 0 -1em -1em -1em;
	height: 600px;
	border-top: 1px solid #ccc;
}

#inbox .msg-list {
	float: left;
	width: 40%;
	height: 600px;
	overflow: auto;
	color: #777;
	border-radius: 0 0 0 4px;
	-moz-border-radius: 0 0 0 4px;
}
#inbox .msg-list strong { color: #111; }
#inbox .msg-list a {
	display: block;
	text-decoration: none;
	color: #888;
}
#inbox .msg-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#inbox .msg-list ul li {
	margin: 0;
	padding: 5px 8px;
}
#inbox .msg-list-item-icons {
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	padding: 3px 0;
}
#inbox .msg-list-item-date {
	float: right;
	display: block;
	width: 95px;
	text-align: right;
}
#inbox .msg-list-item-author {
	margin: 0 100px 0 26px;
	font-weight: bold;
	color: #000;
}
#inbox .msg-list-item-subject {
	margin: 0 0 0 27px;
}

#inbox .msg-content {
	float: right;
	width: 60%;
	height: 600px;
	overflow: auto;
	border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
}
#inbox .msg-content .msg-content-info {
	position: relative;
	padding: .5em 1em;
	background: #eee;
	border-bottom: 1px solid #ccc;
}
#inbox .msg-content .msg-content-body {
	position: relative;
	padding: 0 2em;
}
#inbox .msg-content .msg-content-body p {
	margin: 12px 0;
}

#inbox .msg-content .msg-content-select {
	height: 100%;
	width: 100%;
	background: #eee url(images/admin/inbox-select.jpg) no-repeat top left;
	box-shadow: inset 1px 0 0 #ccc;
	-moz-box-shadow: inset 1px 0 0 #ccc;
	-webkit-box-shadow: inset 1px 0 0 #ccc;
}

.inbox-selected { background: #466bd7; }
.inbox-selected .msg-list-item-author,
.inbox-selected .msg-list-item-subject {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.inbox-selected .msg-list-item-date { color: #b0c1ec !important; }