:root {
    --primary-100: 236, 252, 255;
    --primary-200: 207, 247, 254;
    --primary-300: 165, 239, 252;
    --primary-400: 103, 228, 249;
    --primary-500: 34, 208, 238;
    --primary-600: 6, 182, 212;
    --primary-700: 8, 153, 178;
    --primary-800: 14, 125, 144;
    --primary-900: 21, 103, 117;

    --success-100: 209, 250, 229;
    --success-200: 165, 243, 207;
    --success-300: 110, 231, 183;
    --success-400: 54, 211, 153;
    --success-500: 16, 183, 127;
    --success-600: 5, 148, 103;
    --success-700: 4, 119, 86;
    --success-800: 6, 96, 70;
    --success-900: 6, 76, 57;

    --danger-100: 255, 229, 231;
    --danger-200: 254, 205, 211;
    --danger-300: 253, 165, 175;
    --danger-400: 251, 111, 132;
    --danger-500: 244, 62, 92;
    --danger-600: 226, 29, 72;
    --danger-700: 191, 18, 61;
    --danger-800: 161, 18, 58;
    --danger-900: 134, 19, 54;

    --info-100: 225, 243, 254;
    --info-200: 186, 229, 253;
    --info-300: 126, 212, 252;
    --info-400: 58, 191, 248;
    --info-500: 13, 162, 231;
    --info-600: 2, 132, 197;
    --info-700: 3, 105, 160;
    --info-800: 7, 87, 131;
    --info-900: 12, 74, 110;

    --warning-100: 255, 251, 235;
    --warning-200: 254, 243, 200;
    --warning-300: 253, 230, 139;
    --warning-400: 252, 212, 79;
    --warning-500: 251, 189, 35;
    --warning-600: 245, 159, 10;
    --warning-700: 219, 119, 6;
    --warning-800: 179, 83, 9;
    --warning-900: 145, 64, 13;
}