/**
 * Eric Meyer's CSS Reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: #666 url(images/body-bg.jpg) repeat top left;
	font: 75%/1.6 verdana, arial, sans-serif;
}

header {
	height: 85px;
	width: 800px;
	margin: 0 auto;
	background: transparent url(images/logo.png) no-repeat top left;
}

#container {
	width: 800px;
	margin: 1em auto;
	background: #eee;
	color: #333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
}

.head {
	position: relative;
	height: 50px;
	line-height: 50px;
	padding: 0 1em;
	background: #D3D7DA;
	background: -moz-linear-gradient(top, #D3D7DA 0%, #AFB8BE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D7DA), color-stop(100%,#AFB8BE));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3D7DA', endColorstr='#AFB8BE',GradientType=0 );
	border-bottom: 1px solid #90979D;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
}
.head h1 {
	font-size: 1.8em;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, .6);
	color: #555;
	font-weight: normal;
}
#title-image {
	float: left;
	margin: 14px 10px 0 0;
}

.content {
	padding: 1em;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, .8);
}
.content a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px solid;
}
.content a:hover { color: #466b8c; }

.lower {
	height: 45px;
	margin: 0 2em;
}
.control {
	float: right;
	text-align: center;
}

footer {
	padding: .5em 0;
	font-size: .85em;
	color: #888;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

h1, h2 {
	margin: 0 0 10px 0;
	font-weight: bold;
}
p {
	margin: 10px 0;
	font-size: 110%;
}

h2 { font-size: 150%; }
h3 { font-size: 133%; }
h4 { font-size: 120%; }

h1, h2, h3, h4 { font-weight: bold; }

.fontSmall { font-size: 85%; }

.bold { font-weight: bold; }

.error { color: #c00; }
.warning { color: orange; }
.subtle { color: #777; }

strong { font-weight: bold; }

ul.padding1 { padding: .5em 1em; }

ul.square {
	margin: 1em;
	padding: 0 1em;
	list-style: square;
}

ol {
	margin: 1em;
	padding: 0 1.5em;
	list-style: decimal;
}
ol li { line-height: 1.6; }

table {
	width: 100%;
	position: relative;
	font-size: 100%;
	border: 1px solid #bbb;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
}
thead {
	background: #ccc url(images/install-options-bg.png) repeat-x 0 0;
	border-bottom: 1px solid #bbb;
	font-size: 75%;
}
thead tr { height: 30px; }
tbody tr { height: 40px; }
th, td {
	padding: 4px;
	vertical-align: middle;
}
th { border-right: 1px solid #bbb; }

.alt { background-color: #e5e5e5; }

input[type=text],
input[type=password],
textarea,
select {
	margin: 0;
	padding: 3px;
	width: 275px;
	border: 1px solid #d8d8d8;
	background: #fbfbfb;
	color: #888;
	font-family: verdana, arial, sans-serif;
	font-size: 1.1em;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus,
select:hover {
	color: #444;
	border: 1px solid #aaa;
	background: #fdfdfd;
}

kbd {
	display: block;
	margin: 0 0 5px 0;
	font-size: 115%;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
}

.install-options {
	margin: 1em 0;
	padding: .5em;
	display: block;
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.install-options span {
	padding: 0 0 0 20px;
	background: transparent url(images/arrow-000-medium.png) no-repeat center left;
	font-size: 1.65em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.install-options em {
	margin: 0 0 0 21px;
	display: block;
	
	font-size: .9em;
	font-style: normal;
}
.install-options:hover {
	color: #466b8c !important;
	border: 1px solid #2ebbf3 !important;
	background: #c1dcf1 url(images/install-options-bg.png) repeat-x top left;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6);
}

.install-secoptions {
	padding: .5em;
	display: block;
	width: 550px;
	color: #888 !important;
	text-decoration: none;
	border: 1px solid transparent !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.install-secoptions span {
	padding: 0 0 0 28px;
	background-color: transparent;
	font-size: 1.2em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.install-secoptions:hover {
	color: #555 !important;
	border: 1px solid #bbb !important;
	background: #ddd url(images/install-options-bg.png) repeat-x top left;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6), inset 0 0 0 transparent, -1px 1px 1px rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6), inset 0 0 0 transparent, -1px 1px 1px rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6), inset 0 0 0 transparent, -1px 1px 1px rgba(255, 255, 255, .6);
}
.install-secoptions:hover span { background-position: 0 -17px; }
.secoptions-tour {
	background-image: url(images/binocular.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-readme {
	background-image: url(images/light-bulb.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-verify {
	background-image: url(images/tick-button.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-guide {
	background-image: url(images/book-open-bookmark.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-remove {
	background-image: url(images/slash-button.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-install {
	background-image: url(images/arrow-curve.png);
	background-repeat: no-repeat;
	background-position: center left;
}
.secoptions-update {
	background-image: url(images/new-text.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-genre {
	background-image: url(images/category.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-database {
	background-image: url(images/databases.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-go {
	background-image: url(images/arrow-curve.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-back {
	background-image: url(images/back.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-dbtable {
	background-image: url(images/db-table.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-dbfield {
	background-image: url(images/db-field.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.secoptions-dbquery {
	background-image: url(images/sql.png);
	background-repeat: no-repeat;
	background-position: top left;
}

button, input[type=button] {
	display: inline-block;
	margin: 5px;
	outline: 0 !important;
	font-family: verdana, arial, sans-serif;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.btn-main {
	padding: 6px 40px;
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	color: #fff;
	text-shadow: 0 -1px 1px #3275bc;
	background: #3b88d8;
	background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
	-webkit-background-clip: padding-box;
	box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-moz-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 #72b9eb, inset 0 0 2px #72b9eb, 0 1px 2px 0 #b3b3b3;
}
.btn-main:hover {
	background: #2a81d7;
	background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	text-shadow: 0 -1px 1px #1d62ab;
	cursor: pointer;
	box-shadow: inset 0 1px 0 0 #62b1e9;
	-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
}
.btn-main:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	text-shadow: 0 -1px 1px #2361a4;
	box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
}

button[disabled], button:hover[disabled], button:active[disabled] {
	background: #999;
	background: -moz-linear-gradient(center top, #dadada 20%, #f3f3f3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
	border-top: 1px solid #c5c5c5;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #cecece;
	color: #8f8f8f;
	cursor: not-allowed;
	text-shadow: 0 -1px 1px #ebebeb;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.flash-message {
	margin: 0 0 1em 0;
	padding: .3em;
	font-weight: bold;
	font-size: .9em;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.flash-message h1 {
	margin: 0 !important;
	padding: 3px 5px;
	line-height: 1 !important;
	font-size: 170%;
}
.flash-message p {
	margin: 0;
	padding: 3px 5px;
}
.flash-success {
	background: #d6f0d1;
	background: -moz-linear-gradient(top, #d6f0d1 0%, #ccecc5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6f0d1), color-stop(100%,#ccecc5));
	background: -webkit-linear-gradient(top, #d6f0d1 0%,#ccecc5 100%);
	background: -o-linear-gradient(top, #d6f0d1 0%,#ccecc5 100%);
	background: -ms-linear-gradient(top, #d6f0d1 0%,#ccecc5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D6F0D1', endColorstr='#CCECC5',GradientType=0 );
	background: linear-gradient(top, #d6f0d1 0%,#ccecc5 100%);
	border: 1px solid #a4c897;
	color: #376b0e;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
}
.flash-error {
	background: #f25757;
	background: -moz-linear-gradient(top, #f25757 0%, #ef2d2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f25757), color-stop(100%,#ef2d2d));
	background: -webkit-linear-gradient(top, #f25757 0%,#ef2d2d 100%);
	background: -o-linear-gradient(top, #f25757 0%,#ef2d2d 100%);
	background: -ms-linear-gradient(top, #f25757 0%,#ef2d2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F25757', endColorstr='#EF2D2D',GradientType=0 );
	background: linear-gradient(top, #f25757 0%,#ef2d2d 100%);
	border: 1px solid #cd0a0a; 
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}
.flash-info {
	background: #fff2a5;
	background: -moz-linear-gradient(top, #fff2a5 0%, #ffef8f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff2a5), color-stop(100%,#ffef8f));
	background: -webkit-linear-gradient(top, #fff2a5 0%,#ffef8f 100%);
	background: -o-linear-gradient(top, #fff2a5 0%,#ffef8f 100%);
	background: -ms-linear-gradient(top, #fff2a5 0%,#ffef8f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF2A5', endColorstr='#FFEF8F',GradientType=0 );
	background: linear-gradient(top, #fff2a5 0%,#ffef8f 100%);
	border: 1px solid #f9dd34;
	color: #363636;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
}

.hidden { display: none !important; }

#loading { text-align: center; }

#loaded { position: relative; }

#progress-container {
	position: relative;
	float: left;
	width: 390px;
	height: 20px;
	line-height: 20px;
	margin: -1px -1px 0 9px;
	padding: 0 5px;
	background: #ddd;
	border: 1px solid #bbb;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#progress {
	width: 390px;
	padding: 4px 0;
	float: left;
	border: 0 !important;
}

#percent {
	float: left;
	width: 65px;
	display: block;
	font-size: 90%;
	color: #666;
	text-align: center;
}

#amount {
	width: 475px;
	height: 20px;
	line-height: 20px;
	margin: 6px 0;
	color: #fff;
	color: rgba(0, 0, 0, .65);
	font-weight: bold;
	font-size: 120%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .25);
	background: #f4f4f4;
	border: 1px solid #bbb;
	text-indent: 1em;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.UITheme .ui-progressbar {
	height: 12px !important;
	background: transparent;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.UITheme .ui-progressbar-value {
	height: 10px !important;
	margin: 0 !important;
	border-color: #f5a12a;
	background: #f8e400;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #f8e400), color-stop(1, #f5a12a));
	background: -moz-linear-gradient(center top, #f8e400 20%, #f5a12a 100%);
	border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: inset 0 1px 1px #fde255;
	-moz-box-shadow: inset 0 1px 1px #fde255;
	-webkit-box-shadow: inset 0 1px 1px #fde255;
}

.indent-left { padding: 0 0 0 1.5em; }

.inline-image-left {
	float: left;
	margin: 2px 6px 0 0;
}

hr {
	height: 0;
	width: 100%;
	margin: 1.5em auto;
	border-top: 1px solid #bcbcbc;
	border-top: 1px solid rgba(0, 0, 0, .15);
	border-bottom: 1px solid #fff;
	border-left: 0;
	border-right: 0;
}

pre {
	padding: .5em;
	border: 1px solid #c4c4c4;
	background: #e4e4e4;
	font-size: 110%;
	text-align: left;
	font-family: "consolas", courier, monaco, monospace;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
code { font-family: "consolas", courier, monaco, monospace; }