hr {
	width: 75%;
	margin: 2em auto;
}

input[type=text],
input[type=password],
input[type=email] {
	padding: 5px;
}

table, table tbody, table tbody tr, table tbody tr td {
	position: relative;
}

.ui-tabs .ui-tabs-panel { position: relative; }