/*
|---------------------------------------------------------------
| STYLESHEET - TEXT
|---------------------------------------------------------------
|
| File: lightness/main/css/text.css
| Author: David VanScott [davidv@anodyne-productions.com]
| Version: 1.0
|
| Stylesheet that controls text and link styles for the default
| main theme
|
*/

/*
|---------------------------------------------------------------
| HEADING STYLES
|---------------------------------------------------------------
*/
h1, h2, h3, h4, p { margin: 8px 0; }

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 133%; }
h4 { font-size: 117%; }

p {
	font-size: 100%;
	line-height: 1.6;
}

/*
|---------------------------------------------------------------
| SPECIAL FONT SIZE CLASSES
|---------------------------------------------------------------
*/
.fontLarge	{ font-size: 133%; }
.fontMedium	{ font-size: 117%; }
.fontNormal { font-size: 100%; }
.fontSmall	{ font-size: 92%; }

.font80		{ font-size: 90%; }
.font70		{ font-size: 80%; }

/*
|---------------------------------------------------------------
| SPECIAL FONT PRESENTATION CLASSES
|---------------------------------------------------------------
*/
.nobold	{ font-weight: normal; }
.bold	{ font-weight: bold; }
.italic	{ font-style: italic; }

.align_right { text-align: right; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

/*
|---------------------------------------------------------------
| FONT COLOR CLASSES
|---------------------------------------------------------------
*/
.page-head 		{ color: #494437; }
.page-subhead	{ color: #0074c7; }

.gray	{ color: #777; }
.red	{ color: #c00; }
.orange	{ color: #e99e1c; }
.green	{ color: #008000; }
.blue	{ color: lightblue; }

/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a {
	text-decoration: none; 
	color: #026890;
	outline: 0;
}
a:hover {
	color: #2e6e9e;
	border-bottom: 1px solid;
}

a.image { border: none; }